/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*
Extra small <544px
Small ≥544px
Medium ≥768px
Large ≥992px
Extra large ≥1200px
*/
@media (min-width: 62em) {
  .navbar-toggleable-md {
    display: block !important;
  }
}
@font-face {
    font-family: "Akashi";
    src: url(Akashi.ttf);
}
@font-face {
    font-family: "Muli";
    src: url(Muli.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "MuliSemiBold";
    src: url(Muli-SemiBold.ttf);
}
@font-face {
    font-family: "Muli";
    src: url(Muli-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Muli";
    src: url(Muli-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Muli";
    src: url(Muli-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Muli";
    src: url(Muli-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-family: 'Muli';
	font-size: 100%;
}

@media all and (orientation:landscape  ) {
  body { line-height: 1; background:#000000 url('../resources/img/background.jpg'); background-size: 100% auto; overflow: hidden; }
}
@media all and ( max-height:1200px ) {
  body { line-height: 1; background:#000000 url('../resources/img/background.jpg'); background-size: auto 1200px; overflow: hidden; }
 }
@media all and (orientation:portrait) {
  body { line-height: 1; background:#000000 url('../resources/img/background.jpg'); background-size: auto 100%; overflow: hidden; }
 }

a { font-weight: 500; cursor: pointer; }
h1 { font-family: 'Akashi';  font-size: 40px; line-height: 50px; color: #ffffff; }
h2, h2 a { font-family: 'Akashi' !important; font-size: 30px; line-height: 1; margin:0 0 10px; color: #ffffff; }
h3 { font-family: 'Akashi';  font-size: 24px; line-height: 1; margin:0 0 10px; color: #ffffff; }
h4 { font-family: 'Akashi';  font-size: 18px; line-height: 1; margin:0 0 10px; color: #ffffff; }
h6 { font-family:'Muli'; font-weight:700;}
p { font-family:'Muli'; font-size: 14px; line-height: 18px; text-align: justify; text-indent: 36px; color:#cccccc; display:inline-block; }

table { font-family:'Muli'; font-size: 14px; line-height: 18px; }
th {text-transform: uppercase;}
ul { font-family:'Muli'; font-family:'Muli'; font-size: 14px; line-height: 18px; text-align: justify; color:#cccccc;}
ul.hallOfFame {  font-family:'MuliBold';font-size: 20px; line-height: 1.2; margin:0 0 10px; color: #ffffff; text-indent: 10px;text-transform: uppercase;}
li > h3 { display:inline; }

#Main { height: calc(100vh - 68px); max-height:calc(100vh - 68px); width:100%; padding: 0  0.9375rem !important; overflow : auto }
.row { overflow: hidden; height:100%;}
.affiche { text-align:center;}
/* UTILITIES */
.text-cutter { white-space: nowrap; text-overflow:ellipsis; overflow:hidden;  -ms-word-wrap: break-word; -webkit-word-wrap: break-word; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }
.noselect { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.zelda { cursor:pointer; }
.triangle { display: inline-block; vertical-align: middle; width: 0; height: 0; border-left: 5px solid transparent  !important; border-right: 5px solid transparent !important; border-bottom: 5px solid #FFFFFF;}
.down { -webkit-transform: scaleY(-1); transform: scaleY(-1);}
.spacer { display:inline-block; height:30px; width:200px; }
@media screen and (min-width: 992px) {
  #Menu { float:right;}
  .row { height:100%;}
  .scroll { overflow-y: auto; height:100%; }
  .tabRow + .row {height:calc(100% - 30px); }
}
@media screen and (max-width: 991px) {
  .row { overflow-y: auto; height:100%;}
  .tabRow + .row {height:calc(100% - 30px); }
  #Menu { position: absolute;top: 50px;left: 0px;z-index: 1;}
}
.row.adapt {height:auto;}
.plain .row {margin:0}
/* HEADER */
#Intro { position:relative; width:100vw; height:18px; background:#000000; font-size: 12px;box-sizing: border-box; line-height: 18px;text-align:center; font-family:'Muli'; color:#f1f1f1; z-index:2;}
#Logo { position:fixed; top:0px; left:0; margin:0 10px; height: 90px; width: 120px; cursor: pointer; background: url(../resources/img/BBBL2.png) no-repeat; background-position: center 2px; background-size:contain; z-index:100;}
/* Navbar */
.navbar { color:#ffffff;  height:50px; margin:0; padding: 0 0 0 170px; border-radius: 0;
	background: -webkit-linear-gradient(#00558D,#000000);
	background: linear-gradient(#00558D,#000000);}
.navbar-brand { padding:0; margin:0; font-size: 36px; max-width:calc(100vw - 160px);}



.collapse.in { width: 100vw; background: #000000; padding: 5px 5px 5px 110px;}
nav > ul > li { font-family: "Akashi" !important; height: 50px; margin: 0 0 0 -5px; border-left: 1px solid #000 !important; display: inline-block; cursor: pointer; line-height:50px; }
nav > ul > li:hover { background: linear-gradient(to left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 5%);}
nav > ul > li:active { background: transparent; box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);}
nav > ul > li > a { text-decoration: none; color: #FFFFFF; line-height:50px; font-weight: 400;  font-family: "Akashi"; display:block; height:100%; width:100%; padding: 0 10px !important; }
nav > ul > li:hover > a { text-decoration: none; color: #CCCCCC;}
nav > ul > li > a:active { text-decoration: none; color: #DD7C00;}
nav > ul > li > a:visited { text-decoration: none; color: #FFFFFF;}


/* BODY */

.plain, .forabg > .inner, .stat-block, .panel, .forumbg, .post, .action-bar, .headerspace, #review, .solo, .toolbar,.dropdown .dropdown-contents, .ucp-title, #tabs, .memberlist-title { position:relative; margin:20px 10px;	padding:10px 15px; border-radius: 0 0 5px 5px; border-bottom: 2px solid; border-color:inherit;	box-shadow: 0px 5px 10px rgba(0,0,0,0.9); }
.header { margin: 20px 10px 0 10px;}
.image { position:relative; margin:20px 0px; text-align: center;}
.image > img { width:100%; height:auto; margin: 0; }


.prime, .forabg > .inner, .panel, .forumbg, .phpbb_alert, .action-bar, .forum-title, .topic-title, .posting-title, .post, .headerspace, #review, .solo, .ucp-title, #tabs, .memberlist-title {  background: rgba(0, 0, 0, 0.80); }
.seconde, .stat-block, .toolbar { background: rgba(50, 50, 50, 0.85); }

.stick-left { padding-left: 0; }
.stick-right { padding-right: 0; }
.stick-right > .plain { margin-right:0;	border-bottom: 0; border-left: 2px solid; border-radius: 5px 0 0 5px; }

article img { max-width: 95%; }

/*p {white-space: pre-line;} */

.button { position:absolute; right:0; bottom:0; height:29px; width:200px; line-height: 29px; text-align: center; cursor: pointer; color: #ffffff; }
.topright { top:0; }
.button .label { position: absolute; top: 5px; left: 40px; width: 150px; color: #ffffff; font-family: "Akashi"; font-size: 16px; font-weight:400; font-style: italic; text-transform: capitalize; }
.b2 { right:154px; opacity:0.75; padding-right: 50px;}
.topright .label { top: 2px; left: 25px; width: 180px; color: #999999;font-family: "Muli";font-size: 14px }

.plain > table { width: 100%; color:#FFFFFF; cursor: pointer; text-align: center; }
.plain > table > tbody > tr { height: 20px !important; font-size:14px; border-bottom: 1px solid; }
.td-left { text-align: left; padding-left: 10px; text-align: center; }
tbody.table-hover tr:hover { background-color:transparent; background: #000000; }

/* READER */
#veil{ position:fixed; background: rgba(0,0,0,0.9); margin: 0 -0.9375rem; width:100vw; height:calc(100vh - 68px); top:68px; z-index:4; overflow:none;}
.container { position:fixed; margin:50px 10vw; padding: 1vh 2vw 0px; width:80vw; max-height:calc(100vh - 150px); top:50px; z-index:5; background: rgba(50,50,50,0.85); overflow:none;
box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.75);
border-radius: 5px; border-bottom: 2px solid; }

.container > article, .container > .standing { margin:0; padding:0; max-height:calc(100vh - 268px); background: none; border:none; overflow: auto; box-shadow: none;}
.container > article > img { float:left; padding:0 20px 10px 0; }
.container > footer > h2 { margin: 5px 0px; text-align: center; cursor: pointer; border-top: 1px solid #DD7C00; color:#DD7C00;}
.container > .close { position: absolute; right: 2vw; cursor: pointer; }

#newsfeed { width:100vw; height:50px; background: #000000;}

#connect, #match { width:20vw; min-width:216px; margin:50px 40vw; text-align: center !important; line-height: 30px; }
.container input { width:150px; }

.blur { color: transparent !important; text-shadow: 0 0 2px rgba(0,0,0,0.75); }


/* COMPETITION */
.tab { background: url(../resources/img/Button_TopRight2.png); background-size: 100% 30px; height:30px; line-height:25px; padding-left:45px; color:#FFFFFF; height:30px; line-height:25px; padding-left:45px; cursor: pointer;}
.firstTab + .tab { background: url(../resources/img/Button_TopRight.png); background-size: 100% 30px; height:30px; line-height:25px; padding-left:45px; color:#FFFFFF; height:30px; line-height:25px; padding-left:45px; }
.tabRow  { height:30px; }

.main > table { width: 100%; color:#FFFFFF; margin:0 0 10px;}
.main > table > tbody > tr { height: 28px; border-bottom: 1px solid; }
.main > table > thead > tr > th { line-height: 28px; padding: 0 5px; }
.main > table > tbody > tr > td { line-height: 28px; padding: 0 5px; }

.match { display: table; vertical-align: middle; width:100%; }
.vs { display: inline-block; font-family: 'Muli'; font-size: 20px; line-height: 24px; font-weight: 400; vertical-align: middle; text-align: center; margin: 10px 0 0; border-radius: 5px}
.vs:hover { background: #000000; color:#ffffff }
.hide {display: none; height:0px; padding:10px 1vw -webkit-transition: all linear 0.5s;  transition: height linear 0.5s; }

.current { border-bottom: 3px solid #000000; background: rgba(0, 85, 141, 0.75) !important; color: #FFFFFF !important;}
.current span { color: #FFFFFF; }
.teamLogo {width: 35px; height: 35px; display: inline; vertical-align: middle;}
td > .teamLogo {width: 20px; height: 20px; display: inline; padding-right: 2px;}
.gold {
	background: linear-gradient(to left, rgba(255,215,0,0.1),rgba(255,215,0,0.75), rgba(255,215,0,0.1));
  background: -webkit-linear-gradient(-90deg, rgba(255,215,0,0),rgba(255,215,0,0.5), rgba(255,215,0,0.75));}
.silver {
	background: linear-gradient(to left, rgba(192,192,192,0.1),rgba(192,192,192,0.75), rgba(192,192,192,0.1));
  background: -webkit-linear-gradient(-90deg, rgba(192,192,192,0),rgba(192,192,192,0.5), rgba(192,192,192,0.75));}
.bronze {
	background: linear-gradient(to left, rgba(205,127,50,0.1),rgba(205,127,50,0.75), rgba(205,127,50,0.1));
  background: -webkit-linear-gradient(-90deg, rgba(205,127,50,0),rgba(205,127,50,0.5), rgba(205,127,50,0.75)); }
.relegated, .injured {
	background: linear-gradient(to left, rgba(208,2,27,0.1),rgba(208,2,27,0.5), rgba(208,2,27,0.1));
	background: -webkit-linear-gradient(-90deg, rgba(208,2,27,0),rgba(208,2,27,0.25), rgba(208,2,27,0.5)); }
.dead {
	background: linear-gradient(to left, rgba(0,0,0,0.1),rgba(0,0,0,0.5), rgba(0,0,0,0.1));
	background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0),rgba(0,0,0,0.25), rgba(0,0,0,0.5)); }

/* TEAM */
.core { background: #ffffff;}

.playerSkills { display:none; }
.playerDetails:hover + .playerSkills { display:table-row;}
th.attributes { max-width:45px; width:45px; }
td img { max-height: 20px; max-width: 20px; }
#fame {float: right; display: inline-block; text-align: right;}
#random > h6 {cursor: auto !important;}
@media screen and (max-width: 544px) {
	#HelmetTeam, #HelmetLeft, #HelmetRight { text-align:center; height:200px; -webkit-perspective: 150px; perspective: 150px; padding-top: 20px; }
	#HelmetTeam > div , #HelmetLeft > div, #HelmetRight > div { position:absolute; left:calc(50% - 100px); }
	#HelmetTeam .logo, #HelmetLeft .logo, #HelmetRight .logo { position: absolute; left: 15px; top: 30px; width: 70px; height: 70px;
				-ms-transform: rotateY(-15deg) rotate(-10deg);
				-webkit-transform: rotateY(-15deg) rotate(-10deg);
				transform: rotateY(-15deg) rotate(-10deg);}
        #HelmetRight {  transform:rotateY(180deg); }
}
@media screen and (min-width: 545px) {

  #HelmetTeam { position:absolute; z-index:2; left:10px; width:200px; height:200px; -webkit-perspective: 150px;
      perspective: 150px;  }
    #HelmetTeam + .content { padding-left: 180px; top: 15px; min-height:195px;}

  #HelmetLeft { position:absolute; z-index:2; top:60px; left:10px; width:200px; height:200px; -webkit-perspective: 150px;
      perspective: 150px;  }
    #HelmetLeft + .content { min-height:195px;}
    #HelmetLeft + .content .teamBoard { padding-left: 170px; }
  #HelmetRight { position:absolute; z-index:2; top:60px; right:10px; width:200px; height:200px; -webkit-perspective: 150px;
      perspective: 150px; transform:rotateY(180deg); }
  #HelmetTeam .logo, #HelmetLeft .logo, #HelmetRight .logo { position: absolute; left: 15px; top: 30px; width: 70px; height: 70px;
  		-ms-transform: rotateY(-15deg) rotate(-10deg);
  		-webkit-transform: rotateY(-15deg) rotate(-10deg);
  		transform: rotateY(-15deg) rotate(-10deg);}
    #HelmetRight + .content { min-height:195px;}
    #HelmetRight .teamBoard { padding-right: 170px;}

}


.star { font-size: 30px;  line-height: 30px;  display: inline-block;
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }

.teamDetails { color:#FFFFFF; padding-left:18px; overflow:hidden;}
.teamDetails > li { line-height:24px; }
.teamDetails.col2 { width:100%; }
.teamDetails.col2 > li { width:40%; float:left; display:inline; }

#teamPhoto { padding:0;}
#teamPhoto img { width:100%; height:auto;}
#teamPhoto .cover { position: absolute; z-index:2; height:100% }

.articleDate { float:right; display: inline-block; line-height: 18px;}

/* MATCH */
.score {  font-family: 'Akashi';  font-size: 120px; }
#ScoreLeft { float: right; padding-left: 20px;}
#ScoreRight { float: left; padding-right: 20px}

.stats > li > span { font-family: "MuliSemiBold";}
.teamBoard { text-shadow: 0 2px 5px #000000; }
.teamBoard h3 { font-family: "MuliSemiBold";}
.teamBoard h3 > span { font-family: 'Akashi';}


.spHeight { float: initial; display: inline-block; vertical-align: top; }
#Reader img,p { margin-right: 10px;}
.stadium h3,h4 { text-shadow: 0 2px 5px #000000;}

/* ARCHIVES */
.searchBox { max-height: calc(100vh - 108px); padding-bottom: 0;}
.searchBox input { width: 100%; }
.searchBox .searchResult { overflow-y: auto; height: calc(100vh - 200px); margin-right: -19px;}

/* AFFICHE */
#Versus { display: inline-block; height:100%; min-height:200px; width:128px; background: url(../resources/img/VS.png) center center no-repeat;}
#HelmetLeft.affiche, #HelmetRight.affiche {display: inline-block; position:relative !important; top:0 !important; left:0 !important;}
#HelmetLeft.affiche .logo, #HelmetRight.affiche .logo { position: absolute; left: 0px; top: 20px; width: 90px; height: 90px;
   -ms-transform: rotateY(-15deg) rotate(-10deg);
   -webkit-transform: rotateY(-15deg) rotate(-10deg);
   transform: rotateY(-15deg) rotate(-10deg);}
.affiche hr { margin:5px 0 20px; border-top:1px  solid  #ffffff;}

/* CHAMPION */
.champion h1 { font-family: 'Akashi';  font-size: 70px; line-height: 70px;  color: #ffffff; text-align:center; }
.champion h2 { font-family: 'Akashi';  font-size: 50px; line-height: 60px;  color: #ffffff; text-align:center; }
.champion h3 { font-family: 'Akashi';  font-size: 40px; line-height: 1; margin:0 0 10px; text-align:center; }
.champion h4 { font-family: 'Muli';  font-size: 30px; line-height: 1; margin:0 0 10px; color: #ffffff; text-align:center; }

.champion img { position:absolute; left:-65px; top:35px; width:256px; height:256px;}
.champion hr, .archives hr  { width:80%; border-top:1px  solid  #ffffff; text-align:center;}
.champion #HelmetLeft {display: inline-block; top: 45px !important; left: -15px !important;}
.champion #HelmetRight {display: inline-block; top: -10px !important; right: -15px !important;}
.champion #HelmetLeft .logo, .champion #HelmetRight .logo { position: absolute; left: 10px; top: 30px; width: 75px; height: 75px;
   -ms-transform: rotateY(-15deg) rotate(-10deg);
   -webkit-transform: rotateY(-15deg) rotate(-10deg);
   transform: rotateY(-15deg) rotate(-10deg);}

   .champion.minicup h1, .champion.archives h1 { font-family: 'Akashi';  font-size: 50px; line-height: 50px;  color: #ffffff; text-align:center; }
   .champion.minicup h2, .champion.archives h2 { font-family: 'Akashi';  font-size: 30px; line-height: 40px;  color: #ffffff; text-align:center; }
   .champion.minicup h3, .champion.archives h3 { font-family: 'Akashi';  font-size: 30px; line-height: 1; margin:0 0 10px; text-align:center; }
   .champion.minicup h4, .champion.archives h4 { font-family: 'Muli';  font-size: 24px; line-height: 1; margin:0 0 10px; color: #ffffff; text-align:center; }

/*Disclaimer*/
#Disclaimer { position:relative; color:#ffffff; font-size: 8px;}

#ForumDisplay { height: auto;  width:100%; padding: 0  0.9375rem !important; }
#MatchWeek { overflow:hidden !important; background: url('../resources/img/blood.png') center center no-repeat; background-size: auto 75%; }
#MatchWeek .teamLogo {width: 80px; height: 80px; display: inline; vertical-align: middle; }
#MatchWeek .teamName {width: calc(50% - 120px); max-width: calc(50% - 120px); display: inline-block; vertical-align: middle; font-family: "MuliSemiBold"; font-size:24px; color:#ffffff;}
#MatchWeek hr { width :400px}
.versus { width: 45px; font-size: 26px; font-weight: 700; }
#MatchWeek .versus { width: 60px; font-size: 26px; font-weight: 700; }


.banner { width:100%; max-width:882px; margin-top: 15px;}
#MatchWeek .banner { width:60%; }

.championName { min-height: 60px; text-align: center; width: 100%; }
.championName h2 {position: absolute;z-index: 1; text-align: center;width: calc(100% - 30px);}
 .archives .coachName { text-align: center; }
.oldChamp { position:absolute; z-index:1;}


/*Le Poing*/
.lepoing { padding:0; position: relative; margin-bottom: 15px;text-align: center;}
.lepoing img { width:100%; height:auto;}
.lepoing.player img { width:60%; display: inline;}
.lepoing .cover { position: absolute; z-index:2; height:100% }

.colorShadow {text-shadow: 1px 1px 3px #000000;}

table.mainStats, table.modalStats {cursor:default;}
.mainStats td {max-width: 9vw;}
