
/* Forum */
.forabg, .panel, .forumbg, .phpbb_alert, .post, .action-bar, .headerspace, #review, .solo, #tabs { border-color:#00558D; }

.forabg { padding:0; margin:0;}
.forabg > .inner, .stat-block, .panel, .forumbg, .headerspace, .solo, .toolbar  { margin:30px; }
.stat-block, .toolbar { border-color:#F68525; }
#wrap { margin:0; padding:0 !important; border:0 }
#page-footer .navbar { background: transparent; padding:0; height:40px}
.permissions { display: none; }
#Menu { float:right !important; position:relative !important; top:0 !important;}
p { text-indent: 0 !important; }
.button, .search-icon, .button1, .button2 { background-image: url("../resources/img/Button_Prime.png");
background-repeat: no-repeat; margin:0; padding:0 !important;  font-family: "Akashi"; font-size: 16px; font-weight:400; font-style: italic; text-transform: capitalize;}
.forumbg > .inner { margin-bottom: 30px;}
.lastpost > span { font-size: 10px;}
.page-body > .panel, .forumbg, .post, #review { margin: 0 30px; }
.forum-title, .topic-title, .posting-title, h2 { color:#00558D !important; }
.post > div > dl { width:160px; float:left; }
.postbody { width:calc(100% - 182px); float:left; padding-left:20px; color:#FFFFFF; border-left: solid 1px #646464; margin-bottom: 30px; }
.post { padding-bottom:0; }
.post .inner { margin-bottom: 10px;}
.postbody > div > h3 { display: none;}
.has-profile > .inner > dl { font-size: 0.8em; line-height: 1.2em; }
.delete-icon { background-image: url("../resources/img/Button_Prime_Overlap.png"); }
.quickreply-title + .fields1 > dl { display:none;}
.action-bar { margin:0 30px; }
.dropdown-container {  }
.action-bar.top > .dropdown-container span { display: none; background-image: url("../resources/img/Button_TopRight.png");}
.reply-icon {text-indent: 25px;}
.action-bar > .dropdown-container span { text-indent: 25px; color:#FFFFFF; }
.action-bar.bottom > .buttons { display:none;}
#quickmod { position: absolute; right: 150px; bottom: 0px; opacity: 0.75; text-indent: 0; }
.button a, .toolbar a, .dropdown .dropdown-contents a { color:#FFFFFF; }
.button-hm {text-indent: 25px;}

#smiley-box + #message-box { width:80% }
.ucp-title, .memberlist-title { margin: 30px 30px 0; border-radius: 0; border: none;}
#tabs { margin:0 30px -30px; padding-bottom: 0; }
.activetab { background: url("../resources/img/Tab_Prime.png"); background-size: 100% 100%; padding: 0 10px !important; }
#avatar_options + fieldset { bottom:-40px; right:-20px; }
#qr_postform .inner { margin-bottom: 30px}
ul { text-align: left; }
#tz_select_date_suggest { display: none;}
#viewfolder .action-bar {background: transparent; border:none; box-shadow: none;}
.newpm-icon, .buttonPM { position:relative; background: url("../resources/img/Button_Prime_Float.png"); background-size: 100% 30px; border: medium none; border-radius: 5px;}
.pmlist .recipients { position:absolute; bottom:0; }
.ucp-main .posting-title { background: transparent; }
.fields1 { margin-bottom: 30px;}
#viewprofile .panel.bg1 { margin-top:0; }
#topicreview > .post > .inner > .postbody > .post-buttons { margin: 0px -20px -10px 0px; }
#options-panel {margin-bottom: 30px;}
.dropdown .dropdown-contents { background: #323232;}
#quickmod .dropdown { position:absolute; display: none;
left: -200px;
bottom: 2px;}
#quickmod .dropdown .dropdown-contents { background: #000000; }
