/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	overflow: hidden;
	border-color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1; background: url('../resources/img/bg.png'); overflow: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	color: #ffffff;
	font-family:'Hind';
}
form { font-family:'Hind'; }
* { box-sizing: border-box; }

/*--- Text ---*/
h1 { font-family: 'Russo One'; font-size: 40px; line-height: 50px; font-weight: 400;
color: #ffffff; margin:0;padding: 0;}
h2 { font-family: 'Play'; font-size: 20px; line-height: 24px; font-weight: 400;}
h3 { font-family: 'Play'; font-size: 26px; line-height: 30px; font-weight: 700;}
h4 { font-family: 'Play'; font-size: 36px; line-height: 46px; font-weight: 400;margin: 0 0 10px 0;color:#F68525;}
h5 { font-family: 'Play'; font-size: 16px; line-height: 20px; font-weight: 400; text-align: left;color: #0191FF ; cursor: pointer; padding: 0 0 5px;}
h6 { font-family: 'Play'; font-size: 16px; line-height: 20px; font-weight: 400; cursor: pointer; margin-bottom: 10px;}
p { font-family:'Hind'; font-size: 14px; line-height: 18px; text-align: justify; text-indent: 36px; color:#cccccc; display:inline; }

#Logo { position:fixed; top:0px; left: 2vw; height: 90px; width: 90px; cursor: pointer; background: url(../resources/img/BBBL2.png) center center no-repeat; background-size:contain;}
#LM_intro { position:relative; width:100vw; height:18px; background:#000000; font-size: 12px;box-sizing: border-box; line-height: 18px;text-align:center; font-family:'Hind'; font-size: 14	px;  color:#f1f1f1; z-index:2;}
.navbar { height:50px; margin:0; padding: 0; border-radius: 0;color:#ffffff;
	background: -webkit-linear-gradient(#0191FF,#000000);
	background: linear-gradient(#0191FF,#000000); }


#Main { height: calc(100vh - 68px); overflow: auto; padding: 0 !important; }

.scroll { overflow-y: auto; height: calc(100vh - 68px);}
.link { cursor: pointer; color:inherit; }

.annonce > h3 { color:#F68525; }

.plain {  position:relative;
					margin:20px 10px;
					padding:10px 20px;
					border-radius: 0 0 3px 3px;
					border-bottom: 2px solid;
					border-color:inherit;
					box-shadow: 0px 5px 10px rgba(0,0,0,0.9);
				}
.prime { background: rgba(0, 0, 0, 0.75); }
.seconde { background: rgba(50, 50, 50, 0.85); }

.bleurp {  	position:absolute;
						right:0;
						bottom:0;
						background: #ff0000;
						}

/* UNE */
.stick-left { padding-left : 0; }

.stick-right { padding-right : 0;  }
.stick-right > .plain { margin-right:0;	border-bottom: 0; border-left: 2px solid; border-radius: 3px 0 0 3px; }

article img { max-width:15vw; max-height:20vh; }

	.title { margin:20px 5vw ; padding:10px 2vw; background: rgba(0, 0, 0, 0.75);  border: 1px solid #00558D; text-align: center; color: #0191FF;}

	article > h3 { margin-bottom: 10px; }
	article > h6 { cursor: pointer; text-align: right;}

	/* Chatbox */
		.chatbbbl { margin:20px 5vw; padding:10px 2vw; background: rgba(0, 0, 0, 0.75); border-radius: 3px; border-bottom: 2px solid #0191FF; box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.9); color:#ffffff;}

		.chatbox {
	    font-family: Lato;
	    width: 100%;
	    height: 20em;
	    margin-top: 6px;
	    overflow: scroll;
			color: #000000;
	}
	.well {
	    min-height: 20px;
	    padding: 19px;
	    margin-bottom: 20px;
	    background-color: #F5F5F5;
	    border: 1px solid #E3E3E3;
	    border-radius: 4px;
	    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
	}


/*--- Div ---*/
.button { display: inline-block; background: #F68525; font-family:'Hind'; font-size: 26px; line-height: 28px; padding:5px 1.5vw;  color:#f1f1f1; border-radius: 3px; box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.9); cursor: pointer; border:0;}
input[type='submit'] { display: inline-block; background: #F68525; font-family:'Hind'; font-size: 26px; line-height: 28px; padding:5px 1.5vw; margin-bottom: 15px !important; color:#f1f1f1; border-radius: 3px; box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.9); cursor: pointer;}
.button.small {font-size: 16px; line-height: 22px;}


.random.main { display:inline-block; height:auto;}
.random.side { display:inline-block; height:240px;width: calc(100% - 60px); margin:20px; background: #333333; border-bottom: 2px solid #F68525; border-radius: 0 0 3px 3px; box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.9); cursor: pointer;}
.random.side > .image { height: 120px; width: 100%;}
.random.side > .text { height: 120px; width: 100%; padding:20px 2vw;}

.random > h6 { color:#F68525; text-align: right; }
.random > p { color:#FFFFFF; }

.annonce > p { font-size: 18px; line-height: 22px; }

.carte { cursor: pointer; }

.left { float: left; display:inline-block; padding-right:10px; }
.tleft {padding-left: 5px; text-align: left !important;}
.text-cutter { white-space: nowrap; text-overflow:ellipsis; overflow:hidden;  -ms-word-wrap: break-word; -webkit-word-wrap: break-word; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }

#bottom { width:100vw; height:168px; position:fixed; top:600px; left: 0px; }



/*--- Layers ---*/
.layer { display: table; position: relative; float:left; left: 0; top: 0;  }
/* Levels */
.lvl--1 { z-index:-1;}
.lvl-0  { z-index:0; }
.lvl-1  { z-index:1; }
.lvl-2  { z-index:2; }
.lvl-3  { z-index:3; }
.lvl-4  { z-index:4; }
.lvl-5  { z-index:5; }
