.casque-logo.coach48{ background: url('/resources/logo/Logo_Goblin_08.png') bottom right no-repeat; background-size:contain; }
    .color48-1{ fill:#D85434; }
    .color48-2{ fill:#000000; }
    
.casque-logo.coach50{ background: url('/resources/logo/Logo_Kislev_06.png') bottom right no-repeat; background-size:contain; }
    .color50-1{ fill:#B5D0EE; }
    .color50-2{ fill:#333333; }
    
.casque-logo.coach51{ background: url('/resources/logo/Logo_Kislev_16.png') bottom right no-repeat; background-size:contain; }
    .color51-1{ fill:#E1897F; }
    .color51-2{ fill:#926A50; }
    
.casque-logo.coach51{ background: url('/resources/logo/Logo_Dwarf_08.png') bottom right no-repeat; background-size:contain; }
    .color51-1{ fill:#00558D; }
    .color51-2{ fill:#F68525; }
    
.casque-logo.coach52{ background: url('/resources/logo/Logo_Custom/GammVert.png') bottom right no-repeat; background-size:contain; }
    .color52-1{ fill:#4D8941; }
    .color52-2{ fill:#9B6257; }
    
.casque-logo.coach53{ background: url('/resources/logo/Logo_Custom/LustrianFightingLegends.png') bottom right no-repeat; background-size:contain; }
    .color53-1{ fill:#577772; }
    .color53-2{ fill:#FFFFFF; }
    
.casque-logo.coach54{ background: url('/resources/logo/Logo_HighElf_04.png') bottom right no-repeat; background-size:contain; }
    .color54-1{ fill:#701637; }
    .color54-2{ fill:#FFFFFF; }
    
.casque-logo.coach54{ background: url('/resources/logo/Logo_Dwarf_20.png') bottom right no-repeat; background-size:contain; }
    .color54-1{ fill:#00558D; }
    .color54-2{ fill:#F68525; }
    
.casque-logo.coach56{ background: url('/resources/logo/Logo_Dwarf_05.png') bottom right no-repeat; background-size:contain; }
    .color56-1{ fill:#E1CC79; }
    .color56-2{ fill:#AF897C; }
    
.casque-logo.coach59{ background: url('/resources/logo/Logo_DarkElf_08.png') bottom right no-repeat; background-size:contain; }
    .color59-1{ fill:#89324A; }
    .color59-2{ fill:#333333; }
    
.casque-logo.coach59{ background: url('/resources/logo/Logo_Bretonnia_03.png') bottom right no-repeat; background-size:contain; }
    .color59-1{ fill:#00558D; }
    .color59-2{ fill:#F68525; }
    
.casque-logo.coach60{ background: url('/resources/logo/Logo_Kislev_02.png') bottom right no-repeat; background-size:contain; }
    .color60-1{ fill:#00558D; }
    .color60-2{ fill:#F68525; }
    
.casque-logo.coach63{ background: url('/resources/logo/Logo_Norse_03.png') bottom right no-repeat; background-size:contain; }
    .color63-1{ fill:#000000; }
    .color63-2{ fill:#FFFFFF; }
    
.casque-logo.coach63{ background: url('/resources/logo/Logo_Vampire_06.png') bottom right no-repeat; background-size:contain; }
    .color63-1{ fill:#00558D; }
    .color63-2{ fill:#F68525; }
    
.casque-logo.coach65{ background: url('/resources/logo/Logo_Undead_14.png') bottom right no-repeat; background-size:contain; }
    .color65-1{ fill:#7D8F6F; }
    .color65-2{ fill:#825D50; }
    
.casque-logo.coach65{ background: url('/resources/logo/Logo_Skaven_11.png') bottom right no-repeat; background-size:contain; }
    .color65-1{ fill:#00558D; }
    .color65-2{ fill:#F68525; }
    
.casque-logo.coach66{ background: url('/resources/logo/Logo_Amazon_13.png') bottom right no-repeat; background-size:contain; }
    .color66-1{ fill:#DDDDDD; }
    .color66-2{ fill:#B47772; }
    
.casque-logo.coach66{ background: url('/resources/logo/Logo_Neutre_12.png') bottom right no-repeat; background-size:contain; }
    .color66-1{ fill:#00558D; }
    .color66-2{ fill:#F68525; }
    
.casque-logo.coach67{ background: url('/resources/logo/Logo_Elf_12.png') bottom right no-repeat; background-size:contain; }
    .color67-1{ fill:#F0CA5D; }
    .color67-2{ fill:#B5693D; }
    
.casque-logo.coach70{ background: url('/resources/logo/Logo_Bretonnia_18.png') bottom right no-repeat; background-size:contain; }
    .color70-1{ fill:#3D45A7; }
    .color70-2{ fill:#F1C56E; }
    
.casque-logo.coach71{ background: url('/resources/logo/Logo_Vampire_14.png') bottom right no-repeat; background-size:contain; }
    .color71-1{ fill:#AC652D; }
    .color71-2{ fill:#4E3900; }
    
.casque-logo.coach72{ background: url('/resources/logo/Logo_Chaos_20.png') bottom right no-repeat; background-size:contain; }
    .color72-1{ fill:#b30210; }
    .color72-2{ fill:#00558D; }
    
.casque-logo.coach72{ background: url('/resources/logo/Logo_Orc_05.png') bottom right no-repeat; background-size:contain; }
    .color72-1{ fill:#00558D; }
    .color72-2{ fill:#F68525; }
    
.casque-logo.coach74{ background: url('/resources/logo/Logo_Neutre_15.png') bottom right no-repeat; background-size:contain; }
    .color74-1{ fill:#FFFFFF; }
    .color74-2{ fill:#C2A583; }
    
.casque-logo.coach74{ background: url('/resources/logo/Logo_Chaos_05.png') bottom right no-repeat; background-size:contain; }
    .color74-1{ fill:#00558D; }
    .color74-2{ fill:#F68525; }
    
.casque-logo.coach80{ background: url('/resources/logo/Logo_Halfling_05.png') bottom right no-repeat; background-size:contain; }
    .color80-1{ fill:#FFFFFF; }
    .color80-2{ fill:#FD486B; }
    
.casque-logo.coach84{ background: url('/resources/logo/Logo_Neutre_23.png') bottom right no-repeat; background-size:contain; }
    .color84-1{ fill:#0EC0B2; }
    .color84-2{ fill:#2F7368; }
    
.casque-logo.coach85{ background: url('/resources/logo/Logo_Dwarf_07.png') bottom right no-repeat; background-size:contain; }
    .color85-1{ fill:#419946; }
    .color85-2{ fill:#C6DB7E; }
    
.casque-logo.coach103{ background: url('/resources/logo/Logo_Bretonnia_03.png') bottom right no-repeat; background-size:contain; }
    .color103-1{ fill:#46782B; }
    .color103-2{ fill:#96AB8A; }
    
.casque-logo.coach105{ background: url('/resources/logo/Logo_Neutre_22.png') bottom right no-repeat; background-size:contain; }
    .color105-1{ fill:#738FC6; }
    .color105-2{ fill:#FFFFFF; }
    
.casque-logo.coach109{ background: url('/resources/logo/Logo_Neutre_21.png') bottom right no-repeat; background-size:contain; }
    .color109-1{ fill:#BC252A; }
    .color109-2{ fill:#778E83; }
    
.casque-logo.coach114{ background: url('/resources/logo/Logo_Underworld_10.png') bottom right no-repeat; background-size:contain; }
    .color114-1{ fill:#6CB0B1; }
    .color114-2{ fill:#CCCCCC; }
    
.casque-logo.coach114{ background: url('/resources/logo/Logo_Neutre_02.png') bottom right no-repeat; background-size:contain; }
    .color114-1{ fill:#00558D; }
    .color114-2{ fill:#F68525; }
    
.casque-logo.coach116{ background: url('/resources/logo/Logo_Nurgle_04.png') bottom right no-repeat; background-size:contain; }
    .color116-1{ fill:#F68525; }
    .color116-2{ fill:#3DABB8; }
    
.casque-logo.coach135{ background: url('/resources/logo/Logo_Neutre_27.png') bottom right no-repeat; background-size:contain; }
    .color135-1{ fill:#86C445; }
    .color135-2{ fill:#FFFFFF; }
    
.casque-logo.coach135{ background: url('/resources/logo/Logo_Halfling_15.png') bottom right no-repeat; background-size:contain; }
    .color135-1{ fill:#00558D; }
    .color135-2{ fill:#F68525; }
    
.casque-logo.coach135{ background: url('/resources/logo/Logo_Neutre_27.png') bottom right no-repeat; background-size:contain; }
    .color135-1{ fill:#00558D; }
    .color135-2{ fill:#F68525; }
    
.casque-logo.coach196{ background: url('/resources/logo/Logo_ChaosDwarf_08.png') bottom right no-repeat; background-size:contain; }
    .color196-1{ fill:#00558D; }
    .color196-2{ fill:#F68525; }
    
.casque-logo.coach196{ background: url('/resources/logo/Logo_Khemri_06.png') bottom right no-repeat; background-size:contain; }
    .color196-1{ fill:#00558D; }
    .color196-2{ fill:#F68525; }
    
.casque-logo.coach248{ background: url('/resources/logo/Logo_Skaven_04.png') bottom right no-repeat; background-size:contain; }
    .color248-1{ fill:#89324A; }
    .color248-2{ fill:#89324A; }
    
.casque-logo.coach248{ background: url('/resources/logo/Logo_Lizardman_03.png') bottom right no-repeat; background-size:contain; }
    .color248-1{ fill:#00558D; }
    .color248-2{ fill:#F68525; }
    
