<html>
<body>
    <form action="http://guildmanager.eu/symfony/web/app_dev.php/match/save/" enctype="multipart/form-data" method="post" id="upload_bbrz" name="upload_bbrz">
        <input type="file" id="bbrz_file" name="bbrz_file"/>
        <input type="submit" value="save"/>
    </form>
</body>
</html>
