<div class="row" ng-if="admin==1" >
  <div class="col-xs-4">
    <div class="plain seconde" ng-style="colours[1].border">
      <h2>1. Passage de saison</h2>
      <p>En passant la saison, les compétitions sont archivées. Les équipes et coachs sont rendues "inactives". Leur participation à une nouvelle compétition les réactivera.<br/>
      <span ng-class="season.result">{{season.message}}</span><br/></p>
      <div class="button" ng-click="seasonArchive()" ng-if="season.processing==0 && leagueStats.matchesLeft==0">
        <div ng-include="'resources/img/Button_1.svg'"></div>
        <div class="label">Archiver</div>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="plain seconde" ng-style="colours[1].border">
      <h2>2. Ajoutez une compétition</h2>
      <form>
        Compétition en jeu :
        <select ng-model="newCompetition.indexIG">
          <option value="">Competition chapeau (sponsors)</option>
          <option ng-repeat="competition in competitionsIG" value="{{$index}}" ng-selected="$index==newCompetition.indexIG">{{competition.game_name}}</option>
        </select>
        <br/>
        Nom sur le site: <input type="text" ng-model="newCompetition.site_name"><br/>
        Type de competition : <select ng-model="newCompetition.site_order" >
          <option value="0" ng-selected="newCompetition.site_order==0">Competition principale</option>
          <option value="1">Tournoi annexe</option>
        </select><br/>
        Saison : <select ng-model="newCompetition.season" >
          <option value="Hiver">Hiver</option>
          <option value="Printemps">Printemps</option>
          <option value="Été">Été</option>
          <option value="Automne">Automne</option>
        </select>
        <br/>
        Partie de saison : <select ng-model="newCompetition.competition_mode">
          <option value="Saison">Saison complète</option>
          <option value="Qualification">Qualifications</option>
          <option value="Coupe">Coupe</option>
          <option value="Partie 1">Partie 1</option>
          <option value="Partie 2">Partie 2</option>
        </select><br/>
        Champion : <select ng-model="newCompetition.champion">
          <option value="0" ng-selected="newCompetition.champion==0">Non</option>
          <option value="1">Oui</option>
        </select><br/>
        <span ng-show="newCompetition.indexIG">
          Competition chapeau : <select ng-model="newCompetition.competition_id_parent">
            <option ng-repeat="competition in competitions" value="{{competition.id}}">{{competition.site_name}}</option>
          </select><br/>
          <span ng-show="newCompetition.competition_id_parent!='NULL'">
            Sponsor 1 : <select ng-model="newCompetition.sponsor_id_1">
              <option ng-repeat="sponsor in sponsors track by $index" value="{{sponsor.id}}">{{sponsor.name}}</option>
            </select><br/>
            Sponsor 2 : <select ng-model="newCompetition.sponsor_id_2">
              <option ng-repeat="sponsor in sponsors track by $index" value="{{sponsor.id}}">{{sponsor.name}}</option>
            </select><br/>
            Round : <input type="number" min="1" ng-model="newCompetition.round"></input>
          </span>
        </span>
      </form><br/><br/>
      <div class="spacer" ng-class="newCompetition.result">{{newCompetition.message}}</div>
      <div class="button" ng-click="competitionAdd()" ng-if="newCompetition.processing==0">
        <div ng-include="'resources/img/Button_1.svg'"></div>
        <div class="label">Ajouter</div>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="plain seconde" ng-style="colours[1].border">
      <h2>3. Mise à jour forum</h2>
      <p>Affectation des équipes, couleurs et casques.<br/><br/></p>
      <div class="spacer" ng-class="forum.result">{{forum.message}}</div>
      <div class="spacer"></div>
      <div class="button" ng-click="forumUpdate()" ng-if="forum.processing==0">
        <div ng-include="'resources/img/Button_1.svg'"></div>
        <div class="label">Mise à jour</div>
      </div>
    </div>
  </div>
  <!--div class="col-xs-4">
    <div class="plain seconde" ng-style="colours[1].border">
      <h2>matchs to json </h2>
      <p></p>
      <div class="button" ng-click="alltojson()">
        <div ng-include="'resources/img/Button_1.svg'"></div>
        <div class="label">to json</div>
      </div>
    </div>
  </div-->
</div>
