<div class="row" >
  <div class="col-xs-4">
    <div class="plain seconde" ng-style="colours[1].border">
      <h2>Ajoutez une compétition</h2>
      <form>
      Compétition en jeu : <select ng-model="newCompetition.indexIG" >
        <option ng-repeat="competition in competitionsIG" value="{{$index}}" ng-selected="$index==newCompetition.indexIG">{{competition.game_name}}</option>
      </select><br/>
      Division &amp; poule : <select ng-model="newCompetition.site_order" >
        <option value="0" ng-selected="newCompetition.site_order==0">Elite A</option>
        <option value="1">Elite B</option>
        <option value="2">Prestige A</option>
        <option value="3">Prestige B</option>
        <option value="4">Espoir A</option>
        <option value="5">Espoir B</option>
        <option value="6">Espoir C</option>
        <option value="7">Espoir D</option>
      </select><br/>
      Saison : <select ng-model="newCompetition.season" >
        <option value="Hiver">Hiver</option>
        <option value="Printemps">Printemps</option>
        <option value="Été">Été</option>
        <option value="Automne">Automne</option>
      </select>
      <br/>
      Partie de saison : <select ng-model="newCompetition.competition_mode">
        <option value="Partie 1">Partie 1</option>
        <option value="Partie 2">Partie 2</option>
      </select><br/>
    </form><br/>
    <div class="spacer" ng-class="newCompetition.result">{{newCompetition.message}}</div>
      <div class="button" ng-click="competitionAdd()" ng-if="newCompetition.processing==0">
        <div ng-include="'resources/img/Button_1.svg'"></div>
        <div class="label">Ajouter</div>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="plain seconde" ng-style="colours[1].border">
      <h2>Passage de saison</h2>
      <p>En passant la saison, les compétitions sont archivées. Les équipes et coachs sont rendues "inactives". Leur participation à une nouvelle compétition les réactivera.</p>
      <div class="spacer" ng-class="season.result">{{season.message}}</div>
      <div class="button" ng-click="seasonArchive()" ng-if="season.processing==0">
        <div ng-include="'resources/img/Button_1.svg'"></div>
        <div class="label">Archiver</div>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
  </div>
</div>
