<div class="vd-auto">
    <div class="hd-55 y-top panel center">
      <div class='chatbbbl'>
        <section class='chat-section' id='chat_application'>
          <div>
            <div class='dialog dialog-success'>
              <h6>
                Welcome {{data.username}}, click to select a channel below (<a ng-href='#/join'>sign out</a>)
              </h6>
              <ul class='list-unstyled list-inline' ng-show='!channels'>
                <li>There are no channels. Log in as super to create some!</li>
              </ul>
              <ul class='list-unstyled list-inline'>
                <li class='roomlabel' ng-repeat='channel in channels' ng-click='subscribeChat(channel)'>
                  {{channel}} 2
                </li>
              </ul>
            </div>
            <div class='row'>
              <div class='col-md-2'>
                <small class='marker'>Online Users</small>
                <ul class='list-unstyled'>
                  <li ng-repeat='user in users'>
                    <span class='label btn-mini userlabel' ng-class="{'label-default': user != data.username, 'label-info': (user == data.username)}" title='(Location: {{userData[user].city || "unknown"}})'>
                      <i class='fa fa-user'></i>{{user}}
                    </span>
                  </li>
                </ul>
              </div>
              <div class='col-md-10'>
                <small class='marker'>Chat History</small>
                <form ng-submit='publish()'>
                  <div class='input-group'>
                    <input class='input-sm form-control' ng-model='newMessage' type='text'>
                    <span class='input-group-btn'>
                      <input class='input-sm btn btn-default' type='submit' value='Send'>
                    </span>
                  </div>
                </form>
                <div class='well chatbox' id='chat_history'>
                  <ul class='list-unstyled'>
                    <li ng-repeat='message in messages'>
                      <i class='fa fa-comment'></i>
                      &nbsp;
                      {{message}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
