<div class="row tabRow hidden-md-down" ng-if="competition.competition_mode!='Coupe' && competition.active==1">
	<div class="col-lg-4 firstTab" ng-if="competitions.length<7"></div>
	<div class="col-lg-4 tab" ng-if="tab.id != competition.id" ng-repeat="tab in competitions" ng-click="goToPage('competition/'+tab.id)">{{tab.site_name}}</div>
</div>
<div class="row scroll">
	<div ng-class="{'col-lg-7':competition.competition_mode!='Coupe','col-lg-5':competition.competition_mode=='Coupe'}">
		<!--img class="banner" src="../resources/img/banners/{{competition.division}}.png"-->

		<!-- Championship / Championnat -->
		<div class="plain prime main" ng-if="competition.competition_mode!='Coupe'" ng-style="colours[0].border" ng-cloak>

			<h3 ng-style="colours[0].color">Classement</h3>
			<table>
				<thead>
					<tr ng-style="colours[0].background">
						<th></th>
						<th class="text-left">Equipe</th>
						<th class="text-left hidden-sm-down">Coach</th>
						<th class="text-center">Pts</th>
						<th class="text-center hidden-xs-down">V</th>
						<th class="text-center hidden-xs-down">N</th>
						<th class="text-center hidden-xs-down">D</th>
						<th class="text-center hidden-sm-down">TD</th>
						<th class="text-center hidden-sm-down">S</th>

					</tr>
				</thead>
				<tbody class="table-hover">
					<tr ng-repeat="team in competition.standing | orderBy:['-Pts','-V','-TDS']" class="zelda" ng-class="{gold: $index+1 == 1, silver: $index+1 == 2, bronze: $index+1 == 3}" ng-click="goToPage('team/' + team.id)" ng-style="colours[0].border">
						<td class="text-center">{{$index+1}}</td>
						<td class="text-left"><img class="teamLogo" src="resources/logo/Logo_{{team.logo}}.png"> {{team.team}}</td>
						<td class="text-left hidden-sm-down">{{team.coach}}</td>
						<td class="text-center">{{team.Pts}}</td>
						<td class="text-center hidden-xs-down">{{team.V}}</td>
						<td class="text-center hidden-xs-down">{{team.N}}</td>
						<td class="text-center hidden-xs-down">{{team.D}}</td>
						<td class="text-center hidden-sm-down">{{team.TD}}</td>
						<td class="text-center hidden-sm-down">{{team.S}}</td>

					</tr>
				</tbody>
			</table>
			<div class="spacer"></div>
			<div ng-if="!saving" class="button" ng-click="competitionUpdate('BBBL',competition.game_name)">
				<div ng-include="'resources/img/Button_0.svg'"></div>
				<div class="label">Mise à jour</div>
			</div>
		</div>

		<!-- Cup / Coupe -->
		<div class="plain prime main" ng-if="competition.competition_mode=='Coupe'" ng-style="colours[0].border">
			<h3 ng-style="colours[0].color">Qualifiés</h3>
			<table>
				<thead>
					<tr ng-style="colours[0].background">
						<th></th>
						<th class="text-left">Equipe</th>
						<th class="text-left hidden-sm-down">Coach</th>
						<th class="text-center hidden-sm-down">TD</th>
						<th class="text-center hidden-sm-down">S</th>
					</tr>
				</thead>
				<tbody class="table-hover">
					<tr ng-repeat="team in competition.standing | orderBy:'standing'" ng-if="team.D==0" class="link" ng-click="goToPage('team/' + team.id)" ng-style="colours[0].border">
						<td class="text-center">{{$index+1}}</td>
						<td class="text-left"><img class="teamLogo" src="resources/logo/Logo_{{team.logo}}.png"> {{team.team}}</td>
						<td class="text-left hidden-sm-down">{{team.coach}}</td>
						<td class="text-center hidden-sm-down">{{team.TD}}</td>
						<td class="text-center hidden-sm-down">{{team.S}}</td>
					</tr>
				</tbody>
			</table>
			<br/>
			<!-- Eliminated / Éliminés -->
			<h3 ng-style="colours[0].color">Éliminés</h3>
			<table>
				<thead>
					<tr ng-style="colours[0].background">
						<th></th>
						<th class="text-left">Equipe</th>
						<th class="text-left hidden-sm-down">Coach</th>
						<th class="text-center hidden-sm-down">TD</th>
						<th class="text-center hidden-sm-down">S</th>
					</tr>
				</thead>
				<tbody class="table-hover">
					<tr ng-repeat="team in competition.standing | orderBy:'standing'" ng-if="team.D>0" class="link" ng-click="goToPage('team/' + team.id)" ng-style="colours[0].border">
						<td class="text-center">{{$index+1}}</td>
						<td class="text-left"><img class="teamLogo" src="resources/logo/Logo_{{team.logo}}.png"> {{team.team}}</td>
						<td class="text-left hidden-sm-down">{{team.coach}}</td>
						<td class="text-center hidden-sm-down">{{team.TD}}</td>
						<td class="text-center hidden-sm-down">{{team.S}}</td>
					</tr>
				</tbody>
			</table>
			<div class="spacer"></div>
			<div class="button" ng-click="competitionUpdate('BBBL',competition.game_name)">
				<div ng-include="'resources/img/Button_0.svg'"></div>
				<div class="label">Mise à jour</div>
			</div>
		</div>

		<!--Stats Players-->
		<div class="row">
			<div class="col-lg-6 hidden-md-down" ng-repeat="stats in competition.playersStats" ng-if="stats.players.length>0">
				<div class="plain seconde" ng-style="colours[1].border">
					<h3 ng-style="colours[1].color">{{stats.type | talkingToTheGods:parameters}}</h3>

					<table class="mainStats">
						<thead>
							<tr ng-style="colours[1].background">
								<th class="text-left">Joueur</th>
								<th class="text-center" >{{stats.stats[0] | talkingToTheGods:parameters}}</th>
							</tr>
						</thead>
						<tbody class="table-hover noselect">
							<tr class="playerDetails" ng-style="colours[1].border" ng-repeat="player in stats.players | limitTo:3">
								<td class="text-left text-cutter"><img src="resources/logo/Logo_{{player.logo}}.png"> </span>{{player.name}}</td>
								<td class="text-center" >{{player.stat0}}</td>
							</tr>
						</tbody>
					</table>
					<div class="spacer"></div>
					<div class="button" ng-click="displayStats(stats)">
						<div ng-include="'resources/img/Button_1.svg'"></div>
						<div class="label">Plus de stats</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-class="{'col-lg-5':competition.competition_mode!='Coupe','col-lg-7':competition.competition_mode=='Coupe'}">
		<div ng-repeat="matchDay in calendar | orderBy:orderFilter:reverse" id="day{{matchDay.round}}" ng-class="{current: matchDay.round == currentDay }" class="plain prime" ng-style="colours[0].border" ng-show="matchDay.round <= displayDay || displayDay==0">
			<div ng-if="matchDay.round == currentDay && displayDay != 0" class="button topright" ng-click="showNextDays()">
				<img src="resources/img/Button_TopRight.png">
				<div class="label">Calendrier complet</div>
			</div>
			<h3 ng-if="matchDay.round == currentDay" ng-click="sortBy('round')" class="zelda"><span ng-if="competition.competition_mode=='Coupe'">{{finals[matchDay.round-1]}}</span><span ng-if="competition.competition_mode!='Coupe'">Journée {{matchDay.round}}</span> <div class="triangle" ng-class="{down: reverse}"></div></h3>
			<h3 ng-if="matchDay.round != currentDay" ng-style="colours[0].color" ng-click="sortBy('day')" class="zelda"><span ng-if="competition.competition_mode=='Coupe'">{{finals[matchDay.round-1]}}</span><span ng-if="competition.competition_mode!='Coupe'">Journée {{matchDay.round}}</span> <div class="triangle" ng-class="{down: reverse}" ng-style="colours[0].border"></div></h3>
			<div class="match x-center">
				<div title="{{match.name_1}} VS {{match.name_2}}" class="vs col-lg-6 col-xl-4" ng-class="{zelda:match.id}" ng-repeat="match in matchDay.matchs" ng-click="ifClicked(match)" ng-right-click="rightClicked(match)">
					<div><p>{{match.started | date:'dd MMM HH:mm' : '+000' }}</p></div>
					<img class="teamLogo" src="resources/logo/Logo_{{match.logo_1}}.png">
					<img class="versus" ng-if="match.cyanide_id==null" src="../resources/img/vs.png">
					<span ng-if="match.cyanide_id && matchDay.round == currentDay"> {{match.score_1}} - {{match.score_2}} </span>
					<span ng-if="match.cyanide_id && matchDay.round != currentDay" ng-style="colours[0].color"> {{match.score_1}} - {{match.score_2}} </span>
					<img class="teamLogo" src="resources/logo/Logo_{{match.logo_2}}.png"><br/>
					<div class="calendarOdds" ng-if="betsAlreadyDone(match)" ng-bind-html="ratio(match)"></div>
					<div class="calendarBetsAd" ng-if="!betsAlreadyDone(match)"><img class="betLogo" src="resources/bets/BetLogo.png"></div>
				</div>
			</div>
		</div>
		<div class="bet ad zelda" ng-click="displayBets(competitionId)">
			<img src="resources/bets/BetLogo.png">
		</div>
	</div>
</div>

<!-- FENETRE DES PARIS-->
<div id="veil" ng-show="showBets || showMatchDate" ng-click="veilOff()"></div>

<div class="container bet" ng-if="showBets">
	<div class="row">
		<div class="col-xs-10">
			<img class="betLogo" src="resources/bets/BetLogo.png"><br>
			<div class="spacer"></div>
		</div>
		<div class="col-xs-2 text-right zelda" ng-click="veilOff()" style="margin-top: 10px;">
			FERMER
		</div>
		<div class="col-xs-12 text-center">
			<h2>Faites votre pronostic</h2><br>
		</div>
		<div class="col-xs-3 text-center">
			<img src="resources/logo/Logo_{{bet.logo_1}}.png">
			<h2>{{bet.name_1}}</h2>
		</div>
		<div class="col-xs-2 text-center">
			<img src="../resources/bets/BetPlus.png" ng-click="betInc('bet1')"><br>
			<div class="score">{{bet1}}</div>
			<img src="../resources/bets/BetMinus.png" ng-click="betDec('bet1')">
		</div>
		<div class="col-xs-2 text-center">
			<img class="betVersus" src="../resources/img/vs.png">
		</div>
		<div class="col-xs-2 text-center">
			<img src="../resources/bets/BetPlus.png" ng-click="betInc('bet2')"><br>
			<div class="score">{{bet2}}</div>
			<img src="../resources/bets/BetMinus.png" ng-click="betDec('bet2')">
		</div>
		<div class="col-xs-3 text-center">
			<img src="resources/logo/Logo_{{bet.logo_2}}.png">
			<h2>{{bet.name_2}}</h2>
		</div>
		<div class="col-xs-12 text-center">
			<div class="spacer"></div><br>
			<span>
				<h2>Entrez le montant de votre mise</h2>
				<input type="number" name="stake" ng-model="stake" min="1"><br>
				(Vous disposez de {{coach_gold}} PO en banque)<br>
				<h4 style="color:red;" ng-if="errorBets">{{errorMessage}}<br></h4>
				<button ng-click="BetsDone(bet1, bet2, stake)">Pariez</button><br></span>

			<div class="spacer"></div>
		</div>
	</div>
</div>

<div id="planner" class="container seconde" ng-if="showMatchDate" ng-style="colours[1].border">
	<form id="matchSave" name="matchSave" ng-style="colours[1].color">
		Date du match<br/>
		 <input datetime-picker ng-model="match.started" date-format="dd/MM/yy HH:mm"/>
	</form>
	<div class="spacer"></div>
	<div class="button" ng-click="matchDate(match)">
		<div ng-include="'resources/img/Button_1.svg'"></div>
		<div class="label">Enregistrer</div>
	</div>
</div>
