<div class="row" >
  <div class="col-md-3">
    <div class="plain seconde" ng-style="colours[1].border">
      <h3 ng-style="colours[1].color">Joute de Couronne</h3>
      <div class="spacer"></div>
      <!--div class="button" ng-click="goToPage('league')"-->
      <div class="button" ng-click="seasonSave('Elite','BBBL','Joute de Couronne')">
        <div ng-include="'resources/img/Button_1.svg'"></div>
        <div class="label">Update</div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="plain seconde" ng-style="colours[1].border">
      <h3 ng-style="colours[1].color">Joute de Carcassonne</h3>
      <div class="spacer"></div>
      <!--div class="button" ng-click="goToPage('league')"-->
      <div class="button" ng-click="seasonSave('Elite','BBBL','Joute de Carcassonne')">
        <div ng-include="'resources/img/Button_1.svg'"></div>
        <div class="label">Update</div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="plain seconde" ng-style="colours[1].border">
      <h3 ng-style="colours[1].color">Joute de Parravon</h3>
      <div class="spacer"></div>
      <!--div class="button" ng-click="goToPage('league')"-->
      <div class="button" ng-click="seasonSave('Prestige','BBBL','Joute de Parravon')">
        <div ng-include="'resources/img/Button_1.svg'"></div>
        <div class="label">Update</div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="plain seconde" ng-style="colours[1].border">
      <h3 ng-style="colours[1].color">Joute de Bordeleaux</h3>
      <div class="spacer"></div>
      <!--div class="button" ng-click="goToPage('league')"-->
      <div class="button" ng-click="seasonSave('Prestige','BBBL','Joute de Bordeleaux')">
        <div ng-include="'resources/img/Button_1.svg'"></div>
        <div class="label">Update</div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="plain seconde" ng-style="colours[1].border">
      <h3 ng-style="colours[1].color">Joute de Bastogne</h3>
      <div class="spacer"></div>
      <!--div class="button" ng-click="goToPage('league')"-->
      <div class="button" ng-click="seasonSave('Espoir','BBBL','Joute de Bastogne')">
        <div ng-include="'resources/img/Button_1.svg'"></div>
        <div class="label">Update</div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="plain seconde" ng-style="colours[1].border">
      <h3 ng-style="colours[1].color">Joute de Moussillon</h3>
      <div class="spacer"></div>
      <!--div class="button" ng-click="goToPage('league')"-->
      <div class="button" ng-click="seasonSave('Espoir','BBBL','Joute de Moussillon')">
        <div ng-include="'resources/img/Button_1.svg'"></div>
        <div class="label">Update</div>
      </div>
    </div>
  </div>
</div>
