<div class="row scroll" >
  <div class="col-md-8">
    <img class="banner" src="../resources/img/banners/Lepoing.png">

    <div class="plain prime main" ng-style="colours[0].border" ng-cloak>
      <h3 ng-style="colours[0].color">{{lepoing.team_name}}</h3>
      <div class="lepoing team">
        <img class="cover" src="resources/img/Cover_Glass.png">
        <img src="resources/img/teams/photo{{lepoing.team_id}}.png">
      </div>
      <p ng-bind-html="lepoing.team_article"></p>
    </div>
    <!-- Anecdote -->
    <div class="plain seconde main" ng-style="colours[1].border" ng-cloak>
      <h3 class="colorShadow" ng-style="colours[1].color">{{lepoing.anecdote_title}}</h3>
      <p ng-bind-html="lepoing.anecdote_article"></p>
    </div>
  </div>
  <div class="col-md-4">
    <!-- Joueur 1 -->
    <div class="plain seconde main" ng-style="colours[1].border" ng-cloak>
      <h3 class="colorShadow" ng-style="colours[1].color">{{lepoing.player_name_1}}</h3>
      <div class="lepoing player">
        <img class="cover" src="resources/img/Cover_Glass.png">
        <img src="resources/img/players/{{lepoing.player_id_1}}.png">
      </div>
      <p ng-bind-html="lepoing.player_article_1"</p>

    </div>
    <!-- Joueur 2 -->
    <div class="plain seconde main" ng-style="colours[1].border" ng-cloak>
      <h3 class="colorShadow" ng-style="colours[1].color">{{lepoing.player_name_2}}</h3>
      <div class="lepoing player">
        <img class="cover" src="resources/img/Cover_Glass.png">
        <img src="resources/img/players/{{lepoing.player_id_2}}.png">
      </div>
      <p ng-bind-html="lepoing.player_article_2"</p>
    </div>
    <!-- coach -->
    <div class="plain prime main" ng-style="colours[0].border" ng-cloak>
      <h3 ng-style="colours[0].color">{{lepoing.coach_name}}</h3>
      <p ng-bind-html="lepoing.coach_article"</p>
    </div>
  </div>
</div>
