<div class="row">
  <div class="col-xl-3 hidden-lg-down">
    <div class="image">
      <img src="resources/img/BBBL2_5x.png">
    </div>
    <div class="plain seconde" ng-style="colours[1].border">
      <h3 ng-style="colours[1].color">Légendaires</h3>
      <p>Woody Roots Bush Bombers, Darkside Magic, Rats Fils Tauleurs... Ces équipes comme beaucoup d'autres ont marqué de leur empreinte la BBBL.<br/>
      Tribunes vous offres aujourd'hui un accés illimité à l'Histoire de la ligue</p>
      <div class="spacer"></div>
            <div class="button" ng-click="goToPage('archives')">
              <div ng-include="'resources/img/Button_1.svg'"></div>
              <div class="label">les Archives</div>
            </div>
    </div>
    <div class="plain seconde" ng-style="colours[1].border">
      <h3 ng-style="colours[1].color">La BBBL c'est</h3>
      <ul class="hallOfFame list-unstyled">
        <li><h3 ng-style="colours[1].color">{{leagueStats.coachs}}</h3> coachs actifs</li>
        <li><h3 ng-style="colours[1].color">{{leagueStats.matches}}</h3> matchs</li>
        <li><h3 ng-style="colours[1].color">{{leagueStats.TD}}</h3> touchdowns</li>
        <li><h3 ng-style="colours[1].color">{{leagueStats.casualties}}</h3> sorties</li>
        <li>et <h3 ng-style="colours[1].color">{{leagueStats.death}}</h3> morts...</li>
      </ul>
      <p>La BBBL c'est du sang, de la violence, des indiens... Chaque jour que les dieux font, nous nous echarpons joyeusement sur les terrains.</p>
      <p>Mais toi le visiteur, toi le coach, toi le paria, toi aussi tu peux venir cramponner dans nos rangs.</p>
      <p>Il te suffit de t'inscrire sur notre forum et de remplir le formulaire 22X47B, ainsi que l'appendice 42 et verser les 51 pièces d'or nécessaires au gobelin comptable de permanence.</p>
      <div class="spacer"></div>
          <a class="button" href="Forum">
            <div ng-include="'resources/img/Button_1.svg'"></div>
            <div class="label">Découvrir</div>
          </a>
    </div>
  </div>
  <!--Champion-->
  <div class="col-xl-6 col-lg-9">
    <div class="row">
      <div class="col-md-12">
        <div class="plain prime champion" ng-style="colours[0].border">
          <div ng-style="teamBG"></div>
          <h3>CHAMPION</h3>
          <h4 ng-style="colours[0].color" ng-click="">Elite Automne 2516</h4>
          <hr>
          <h1 class="zelda" ng-style="colours[4].color" ng-click="goToPage('team/273')">Les Psychos Totems</h1>
          <hr>
          <h2 ng-style="colours[5].color">RelaxMax</h2>
          <div class="spacer"></div>
          <div class="button" ng-click="goToPage('competition/206')">
            <div ng-include="'resources/img/Button_0.svg'"></div>
            <div class="label">la compétition</div>
          </div>
        </div>
      </div>
    </div>
    <!--Marqueur-->
    <div class="row">
      <div class="col-xl-4 col-lg-6 hidden-md-down">
        <div class="plain prime" ng-style="colours[0].border">
          <h3 ng-style="colours[0].color">Marqueurs</h3>
          <table class="mainStats">
            <thead>
              <tr ng-style="colours[0].background">
                <th class="text-left">Joueur</th>
                <th class="text-center">TD</th>
              </tr>
            </thead>
            <tbody class="table-hover noselect">
              <tr ng-style="colours[0].border" ng-repeat="player in leagueStats.scorers | limitTo:5">
                <td class="text-left text-cutter"><img src="resources/logo/logo_{{player.logo}}.png"> </span>{{player.name}}</td>
                <td class="text-center">{{player.TD}}</td>
              </tr>
            </tbody>
          </table>
          <div class="spacer"></div>
          <div class="button" ng-click="displayStats('scorers')">
            <div ng-include="'resources/img/Button_0.svg'"></div>
            <div class="label">+ de stats</div>
          </div>
        </div>
      </div>
      <!--Cogneur-->
        <div class="col-xl-4 col-lg-6 hidden-md-down">
          <div class="plain prime" ng-style="colours[0].border">
            <h3 ng-style="colours[0].color">Cogneurs</h3>
            <table class="mainStats">
              <thead>
                <tr ng-style="colours[0].background">
                  <th class="text-left">Joueur</th>
                  <th class="text-center">Sorties</th>
                </tr>
              </thead>
              <tbody class="table-hover noselect">
                <tr class="playerDetails" ng-style="colours[0].border" ng-repeat="player in leagueStats.tacklers | limitTo:5">
                  <td class="text-left text-cutter"><img src="resources/logo/logo_{{player.logo}}.png"> </span>{{player.name}}</td>
                  <td class="text-center">{{player.injuries}}</td>
                </tr>
              </tbody>
            </table>
            <div class="spacer"></div>
            <div class="button" ng-click="displayStats('tacklers')">
              <div ng-include="'resources/img/Button_0.svg'"></div>
              <div class="label">+ de stats</div>
            </div>
          </div>
        </div>
    <!--Lanceur-->
      <div class="col-lg-6 col-xl-4  hidden-md-down">
        <div class="plain prime" ng-style="colours[0].border">
          <h3 ng-style="colours[0].color">Passeurs</h3>
          <table class="mainStats">
            <thead>
              <tr ng-style="colours[0].background">
                <th class="text-left">Joueur</th>
                <th class="text-center">Yards</th>
              </tr>
            </thead>
            <tbody class="table-hover noselect">
              <tr class="playerDetails" ng-style="colours[0].border" ng-repeat="player in leagueStats.throwers | limitTo:5">
                <td class="text-left text-cutter"><img src="resources/logo/logo_{{player.logo}}.png"> </span>{{player.name}}</td>
                <td class="text-center">{{player.yards}}</td>
              </tr>
            </tbody>
          </table>
          <div class="spacer"></div>
          <div class="button" ng-click="displayStats('throwers')">
            <div ng-include="'resources/img/Button_0.svg'"></div>
            <div class="label">+ de stats</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Competitions -->
  <div class="col-lg-3 stick-right">
      <div class="plain prime side zelda" ng-repeat="competition in competitions" ng-click="goToPage('competition/'+competition.id)" ng-style="colours[0].border">
        <h3 ng-style="colours[0].color">{{competition.division}} {{competition.pool}} {{competition.site_name}}</h3>
        <table>
          <tbody>
            <tr ng-repeat="team in competition.standing | orderBy:'standing'" ng-class="{gold: $index+1 == 1, silver: $index+1 == 2, bronze: $index+1 == 3}" ng-style="colours[0].border">
              <td>{{$index+1}}</td>
              <td class="text-left">{{team.team}}</td>
              <td>{{team.Pts}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>

</div>
