<div id="veil" ng-show="modal.subject" ng-click="displayOff()"></div>

<div id="Reader" class="container seconde" ng-if="modal.subject==='reader'" ng-click="" ng-style="colours[1].border">
  <article ng-click="">
    <h2 ng-bind-html="article.title" ng-style="colours[1].color"></h2>
    <img ng-if="article.image == 1" src="resources/img/articles/article_{{article.article_id}}.jpg">
    <p ng-bind-html="article.text"> </p>
  </article>
  <div class="spacer"></div>
  <div class="button" ng-click="displayOff()">
    <div ng-include="'resources/img/Button_1.svg'"></div>
    <div class="label">fermer</div>
  </div>
</div>

<div id="connect" class="container seconde" ng-if="modal.subject==='connector'" ng-click="" ng-style="colours[1].border">
  <form id="forumConnect" name="forumConnect" action="./Forum/ucp.php?mode=login" accept-charset='UTF-8' method='post' ng-style="colours[1].color">
    Nom d'utilisateur<br/>
    <input type="text" name="username"><br/>
    Mot de passe<br/>
    <input type="password" name="password"><br/>
    <input type="checkbox" name="autologin" /> Se souvenir de moi
    <input type="hidden" name="redirect" value="./../index.php"><div class="spacer"></div>
    <!--input class="button" type="submit" name="login" value="Login" /-->
      <div class="spacer"></div>
    <div class="button" ng-click="forumLogin()">
      <div ng-include="'resources/img/Button_1.svg'"></div>
      <div class="label">Login</div>
    </div>
  </form>
</div>

<div id="match" class="container seconde" ng-if="modal.subject==='match'" ng-style="colours[1].border">
  <form id="matchSave" name="matchSave" ng-style="colours[1].color">
    ID du match<br/>
    <input type="text" ng-model="match.cyanide_id"><br/>
    URL forum<br/>
    <input type="text" ng-model="match.discussion"><br/>
  </form>
  <div class="spacer"></div>
  <div class="button" ng-click="saveMatch(matchToSave,match.cyanide_id,match.discussion)">
    <div ng-include="'resources/img/Button_1.svg'"></div>
    <div class="label">Enregistrer</div>
  </div>
</div>

<div id="team" class="container seconde main" ng-if="modal.subject==='team'" ng-click="" ng-style="modal.border">
  <h3 ng-style="modal.color">Effectif</h3>
  <table>
    <thead>
    <tr ng-style="modal.background">
      <th class="text-left" ng-click="sortBy('name')">Joueur <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='name'"></div></th>
      <th class="text-left position hidden-sm-down" ng-click="sortBy('position')">Position <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='position'"></div></th>
      <th class="text-center hidden-xs-down" ng-click="sortBy('level')">Niv <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='level'"></div></th>
      <th class="attributes text-center hidden-xs-down" ng-click="sortBy('xp')">XP <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='xp'"></div></th>
      <th class="attributes text-center" ng-click="sortBy('mvp')" title="Joueur du match">JDM <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.mvp'"></div></th>
      <th class="attributes text-center" ng-click="sortBy('stats.inflictedpasses')" title="Passes">Pa <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedpasses'"></div></th>
      <th class="attributes text-center" ng-click="sortBy('stats.inflictedcatches')" title="Réceptions">Réc <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedcatches'"></div></th>
      <th class="attributes text-center" ng-click="sortBy('stats.inflictedinterceptions')" title="Interceptions">Int <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedinterceptions'"></div></th>
      <th class="attributes text-center" ng-click="sortBy('stats.inflictedtouchdowns')" title="TouchDown">TD <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedtouchdowns'"></div></th>
      <th class="attributes text-center" ng-click="sortBy('stats.inflicteddead')" title="Mort">Mort <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflicteddead'"></div></th>
      <th class="attributes text-center" ng-click="sortBy('stats.inflictedcasualties')" title="Sorties">Sor <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedcasualties'"></div></th>
      <th class="attributes text-center" ng-click="sortBy('stats.inflictedko')" title="KO">KO <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedko'"></div></th>
      <th class="attributes text-center" ng-click="sortBy('stats.inflictedtackles')" title="Blocage">Bl <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedtackles'"></div></th>
      <th class="attributes text-center" ng-click="sortBy('stats.inflictedmeterspassing')" title="Yards en passe">YP <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedmeterspassing'"></div></th>
      <th class="attributes text-center" ng-click="sortBy('stats.inflictedmetersrunning')" title="Yards en course">YC <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedmetersrunning'"></div></th>
    </tr>
    </thead>
    <tbody  class="table-hover noselect">
      <tr ng-repeat="player in match.teams[modal.teamIdx].roster | orderBy:orderFilter:reverse" ng-style="modal.border">
          <td class="text-left text-cutter">
            <span class="playerStatus" title="{{translate(player.casualties_sustained[0])}}" ng-if="player.casualties_sustained.length > 0 && player.stats.sustainedcasualties > 0 && player.stats.sustaineddead==0"><img src="resources/img/injured.png"> </span>
            <span class="playerStatus" ng-if="player.stats.sustaineddead==1"><img src="resources/img/dead.png"> </span>
            <span ng-if="player.type.indexOf('StarPlayer')==-1">{{player.name}}</span>
            <span ng-if="player.type.indexOf('StarPlayer')>-1">&#9733; {{translate(player.type)}}</span>
          </td>
          <td class="text-left text-cutter hidden-sm-down" ng-if="player.type.indexOf('StarPlayer')==-1">{{translate(player.type)}}</td>
          <td class="text-left text-cutter hidden-sm-down" ng-if="player.type.indexOf('StarPlayer')>-1">Champion</td>
          <td class="text-center hidden-xs-down">{{player.level}}</td>
          <td class="text-center hidden-xs-down">{{player.xp}}</td>
          <td class="text-center">{{player.mvp}}</td>
          <td class="text-center">{{player.stats.inflictedpasses}}</td>
          <td class="text-center">{{player.stats.inflictedcatches}}</td>
          <td class="text-center">{{player.stats.inflictedinterceptions}}</td>
          <td class="text-center">{{player.stats.inflictedtouchdowns}}</td>
          <td class="text-center">{{player.stats.inflicteddead}}</td>
          <td class="text-center">{{player.stats.inflictedcasualties}}</td>
          <td class="text-center">{{player.stats.inflictedko}}</td>
          <td class="text-center">{{player.stats.inflictedtackles}}</td>
          <td class="text-center">{{player.stats.inflictedmeterspassing}}</td>
          <td class="text-center">{{player.stats.inflictedmetersrunning}}</td>
        </tr>
    </tbody>
  </table>
  <div class="spacer"></div>

  <div class="button" ng-click="displayOff()">
    <div ng-include="modal.button"></div>
    <div class="label">fermer</div>
  </div>
</div>

<div id="player" class="container seconde main" ng-if="modal.subject==='player'" ng-click="" ng-style="modal.border">
</div>

//Players statistics
<div id="scorers" class="container seconde main" ng-if="modal.subject=='stats'" ng-click="" ng-style="modal.border">
  <div class="standing main">
    <h2 ng-style="colours[1].color">{{stats.title}}</h2>
    <table class="modalStats">
      <thead>
        <tr ng-style="colours[1].background">
          <th class="text-left">Joueur</th>
          <th class="text-left" >Equipe</th>
          <th class="text-center" ng-if="modal.stats.type=='scorers'">TD</th>
          <th class="text-center" ng-if="modal.stats.type=='scorers'">Yards</th>
          <th class="text-center" ng-if="modal.stats.type=='scorers'">Receptions</th>
          <th class="text-center" ng-if="modal.stats.type=='tacklers'">Sorties</th>
          <th class="text-center" ng-if="modal.stats.type=='tacklers'">Blessures</th>
          <th class="text-center" ng-if="modal.stats.type=='tacklers'">Morts</th>
          <th class="text-center" ng-if="modal.stats.type=='throwers'">Yards</th>
          <th class="text-center" ng-if="modal.stats.type=='throwers'">Passes</th>
        </tr>
      </thead>
      <tbody class="table-hover noselect">
        <tr class="playerDetails" ng-style="colours[1].border" ng-repeat="player in modal.stats.players">
          <td class="text-left text-cutter"><img src="resources/logo/Logo_{{player.logo}}.png"> </span>{{player.name}}</td>
          <td class="text-left zelda" ng-click="displayOff();goToPage('team/' + player.team_id)">{{player.team}}</td>
          <td class="text-center" ng-if="modal.stats.type=='scorers'">{{player.TD}}</td>
          <td class="text-center" ng-if="modal.stats.type=='scorers'">{{player.yards}}</td>
          <td class="text-center" ng-if="modal.stats.type=='scorers'">{{player.catches}}</td>
          <td class="text-center" ng-if="modal.stats.type=='tacklers'">{{player.injuries}}</td>
          <td class="text-center" ng-if="modal.stats.type=='tacklers'">{{player.casualties}}</td>
          <td class="text-center" ng-if="modal.stats.type=='tacklers'">{{player.dead}}</td>
          <td class="text-center" ng-if="modal.stats.type=='throwers'">{{player.yards}}</td>
          <td class="text-center" ng-if="modal.stats.type=='throwers'">{{player.passes}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="spacer"></div>
  <div class="button" ng-click="displayOff()">
    <div ng-include="'resources/img/Button_1.svg'"></div>
    <div class="label">fermer</div>
  </div>
</div>

//Bets
<div id="bet" class="container bet" ng-if="modal.subject==='bets'">
  <div class=row>
    <div class="col-xs-12">
      <img class="betLogo" src="resources/bets/BetLogo.png"><br>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-6">
      <h1>Pariez sur les plus grands évènements de la BBBL</h1>
      <br/>
      <h2>Saisons régulières, BB Cup, tous les matchs sont ouverts aux paris chez Guillaume Colline.</h2>
    </div>
    <div class="col-xs-3">
      <h2 ng-style="colours[2].color">Rejoignez les meilleurs parieurs</h2>
      <p>Dans votre magazine Tribunes, sélectionnez le match de votre choix et faites votre pronostics, validez votre pari et entrez dans le jeu !<br>
        Suivez aussi les classements des meilleurs parieurs en temps réel, joute par joute</p>
    </div>
    <div class="col-xs-3">
      <table>
        <thead>
          <tr ng-style="colours[0].background">
            <th class="text-left">Coach</th>
            <th class="text-center">Pts</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr ng-repeat="coach in ranking | orderBy : 'score' : true ">
            <td class="text-left">{{coach.name}}</td>
            <td class="text-center">{{coach.score}}</td>
          </tr>
        </tbody>
      </table>
      <div class="spacer"></div>
    </div>
  </div>
</div>

<div id="matchBets" class="container bet" ng-if="modal.subject==='matchBets'">
  <div class=row>
    <div class="col-xs-12">
      <img class="betLogo" src="resources/bets/BetLogo.png"><br>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-6">
      <h1>Pariez sur les plus grands évènements de la BBBL</h1>
      <br/>
      <h2>Saisons régulières, BB Cup, tous les matchs sont ouverts aux paris chez Guillaume Colline.</h2>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-3">
      <h2 style="color:#F7FB03">Découvrez les pronostics</h2>
      <table >
          <thead>
              <tr>
                  <th>Coach</th>
                  <th>Pronostic</th>
              </tr>
          </thead>
          <tbody class="table-hover">
              <tr ng-if="prognosis.length == 0">
                <td>Aucun pronostic</td>
              </tr>
              <tr ng-if="prognosis.length > 0" ng-repeat="b in prognosis">
                  <td ng-if="isMe(b)" style="color:#F7FB03">{{b.name}}</td>
                  <td ng-if="!isMe(b)" style="color:#FFFFFF">{{b.name}}</td>
                  <td class="text-center">{{b.team_score_1}} - {{b.team_score_2}}</td>
              </tr>
          </tbody>
      </table>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>
