
      <div class="hd-70 y-top panel left">
        <div class="title"><h2>Tout ce qu'il faut savoir sur la BBBL</h2></div>
        <article>
            <h3>Bienvenue </h3>
            <p>Cette ligue est née de la volonté de 4 coachs, mis au ban de la société bloodbowlistique pour diverses raisons pas très propres, mais dont ce n’est pas réellement le propos ici même si on pourrait comprendre au nom de la protection nécrophage des mineurs en eaux troubles qu’on s’y attarde quelque peu... De 4 coachs disais je qui voulaient devenir leur propre maître (et le maître des autres, soit dit en passant)!</p>
            <h6 ng-click="displayReader(1)">En savoir plus...</h6>
        </article>
        <article>
            <h3>L'histoire de la ligue</h3>
            <p>Pour des raisons évidente d’anonymat ils transformèrent leur nom à l’aide d’anagrammes savamment pensés ! Ainsi le gros et moche Obsidian devint le moche et gros Naidisbo, Poulp le tentaculaire devint Pluop le tentaculaire, Thalar le simplet, Ralaht le puissant et Jahstrad le mystérieux devint Dasrshaj le sombre et mystérieux ! Sous leur égide la ligue pris son envol recrutant toujours plus de coachs de talent et de valeur, collectant toujours plus de frais de licence, d’administration, de taxes professionnelles, de taxes sur le personnel, de taxes...</p>
            <h6 ng-click="displayReader(2)" >En savoir plus...</h6>
        </article>
        <article>
            <h3>Nul n'est censé ignorer la loi !</h3>
            <p>Même si celle-ci tient en 19 volumes de 1000 pages...<br/>
            Article 1.1 (extrait)<br/> Toute équipe inscrite en championnat de la BBBL est tenue de jouer un match par semaine.</p>
            <h6 ng-click="displayReader(3)">En savoir plus</h6>
        </article>
      </div>
      <div class="hd-30 y-top panel center">
        <div class="random side">
          <h4>BloodBowlCity : La cité des anges… Déchus... Et bourrés aussi...</h4>
        </div>
        <div class="x-center y-top annonce">
          <h3>Nous rejoindre</h3>
          <p>La BBBL c'est du sang, de la violence, des indiens... Chaque jour que les dieux font, nous nous echarpons joyeusement sur les terrains.</p><p>Mais toi le visiteur, toi le coach, toi le paria, toi aussi tu peux venir cramponner dans nos rangs.</p>
          <div class="button">Baston !</div>
        </div>
      </div>
