
      <div class="hd-70 y-top panel left">
        <article ng-repeat="article in articles | orderBy: 'order'"  ng-if="article.category=='presentation' && article.random == 0"  ng-style="color1">
          <h3 ng-bind-html="article.title"></h3>
          <p ng-bind-html="article.summary"></p>
          <h6 ng-click="displayReader(article.article_id)">En savoir plus...</h6>
        </article>

      </div>
      <div class="hd-30 y-center panel center">
        <div id="randomPresentation1" class="random side" ng-click="displayReader(randomSide.article_id)"  ng-style="color2">
          <div class="image"></div>
          <div class="text"><h4 ng-bind-html="randomSide.title"></h4></div>
        </div>
        <div class="x-center y-top annonce">
          <h3>Nous rejoindre</h3>
          <p>La BBBL c'est du sang, de la violence, des indiens... Chaque jour que les dieux font, nous nous echarpons joyeusement sur les terrains.</p><p>Mais toi le visiteur, toi le coach, toi le paria, toi aussi tu peux venir cramponner dans nos rangs.</p>
          <div class="button">Baston !</div>
        </div>
      </div>
