<div class="row">
  <div class="col-lg-7 scroll">
    <div id="players" class="plain prime main" ng-style="colours[0].border">
      <h3 ng-style="colours[0].color">Effectif</h3>
      <table>
        <thead>
          <tr ng-style="colours[0].background">
            <th class="text-center">N&#176;</th>
            <th class="text-left">Joueur</th>
            <th class="text-left position hidden-sm-down">Position</th>
            <th class="text-center">M</th>
            <th class="text-center">F</th>
            <th class="text-center">Ag</th>
            <th class="text-center">Av</th>
            <th class="text-center hidden-xs-down">Niv</th>
            <th class="text-center hidden-xs-down">XP</th>
            <th class="text-center hidden-xs-down">Salaire</th>
          </tr>
        </thead>
        <tbody  class="table-hover noselect">
          <tr ng-repeat="row in team.players" ng-style="colours[0].border">
            <td class="text-center">{{row.number}}</td>
            <td class="text-left text-cutter">{{row.name}}</td>
            <td class="text-left text-cutter hidden-sm-down">{{row.title}}</td>
            <td class="text-center">{{row.MA}}</td>
            <td class="text-center">{{row.ST}}</td>
            <td class="text-center">{{row.AG}}</td>
            <td class="text-center">{{row.AV}}</td>
            <td class="text-center hidden-xs-down">{{row.level}}</td>
            <td class="text-center hidden-xs-down">{{row.XP}}</td>
            <td class="text-center hidden-xs-down">{{row.salary}}K</td>
          </tr>
        </tbody>
      </table>
      <div class="spacer"></div>
      <div class="button" ng-click="goToPage('competition/0')">
        <div ng-include="'resources/img/Button_Prime.svg'">Statistiques</div>
        <div class="label">Statistiques</div>
      </div>
    </div>
    <div id="HelmetTeam">
      <div>
        <div class="helmet" ng-include="'resources/img/Helmet.svg'"></div>
        <div id="LogoLeft" class="logo"></div>
      </div>
    </div>
    <div id="Profile" class="plain seconde content noselect" ng-if="!activePlayer" ng-style="colours[1].border">
      <div id="fame" ng-style="colours[1].color">
        <div ng-repeat="i in team.pop" class="star">&#9733;</div><br/>
        <h4 class="noselect" ng-style="colours[1].color">TV {{team.value}}</h4>
        <h4 ng-style="colours[1].color">{{team.treasury}} PO</h4>
      </div>
      <div class="teamBoard">
        <h4 ng-style="colours[1].color">{{team.roster}}</h4>
        <ul class="teamDetails list-unstyled">
          <li>coaché par <span class="" ng-style="colours[1].color">{{team.coach}}</span></li>
          <li class="zelda" ng-style="colours[1].color" ng-click="goToPage('competition/0')">6e Division Espoir</li>
        </ul>
        <br/>
        <ul class="teamDetails col2 list-unstyled">
          <li ng-if="team.reroll>0">{{team.reroll}} relance<span ng-if="team.reroll>1">s</span></li>
          <li ng-if="team.apothecary>0">{{team.apothecary}} apoticaire</li>
          <li ng-if="team.cheerleader>0">{{team.cheerleader}} pom-pom girl<span ng-if="team.cheerleader>1">s</span></li>
          <li ng-if="team.assistant>0">{{team.assistant}} assistant<span ng-if="team.cheerleader>1">s</span></li>
        </ul><br/>
        <h6 ng-style="colours[1].color">"{{team.moto}}"</h6>
        <div class="spacer"></div>
        <div class="button" ng-click="goToPage('competition/0')">
          <div ng-include="'resources/img/Button_Seconde.svg'"></div>
          <div class="label">Archives</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 scroll">
    <div id="teamPhoto" class="plain" ng-style="colours[1].border">
      <img src="resources/img/teams/photo{{teamID}}.png">
    </div>
    <div class="plain prime" ng-repeat="article in team.articles | orderBy:'- publishedOn'" id="chapter{{day.journee}}" ng-style="colours[0].border">
      <div ng-style="colours[0].color" class="articleDate">{{article.publishedOn|date:'d MMM yyyy'}}</div>
      <h3 ng-style="colours[0].color" ng-bind-html="article.title"></h3>
      <p><span ng-bind-html="article.summary"></span> <a ng-style="colours[0].color" ng-click="displayReader(article.article_id)">En savoir plus</a></p>
    </div>
  </div>
</div>
