<div class="row">
	<div class="col-md-11"></div>
	<div class="col-md-1" ng-class="{tab : admin==1}">
		<div ng-click="teamUpdate()" ng-if="admin==1">Reset</div>
	</div>
	<div class="col-lg-7">
		<div id="players" class="plain prime main" ng-style="colours[0].border">
			<div ng-style="team_BG"></div>
			<h3 ng-style="colours[0].color">Effectif</h3>
			<table style="position:relative;z-index:1">
				<thead>
					<tr ng-style="colours[0].background">
						<th class="text-left" ng-click="sortBy('name')">Joueur <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='name'"></div></th>
						<th class="text-left position hidden-sm-down" ng-click="sortBy('position')" ng-if="!showStats">Position <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='position'"></div></th>
						<th class="attributes text-center" ng-click="sortBy('attributes.ma')" ng-if="!showStats">MA <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='attributes.ma'"></div></th>
						<th class="attributes text-center" ng-click="sortBy('attributes.st')" ng-if="!showStats">FO <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='attributes.st'"></div></th>
						<th class="attributes text-center" ng-click="sortBy('attributes.ag')" ng-if="!showStats">AG <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='attributes.ag'"></div></th>
						<th class="attributes text-center" ng-click="sortBy('attributes.av')" ng-if="!showStats">AV <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='attributes.av'"></div></th>
						<th class="text-center hidden-xs-down" ng-click="sortBy('level')" ng-if="!showStats">Niv <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='level'"></div></th>
						<th class="attributes text-center hidden-xs-down" ng-click="sortBy('xp')" ng-if="!showStats">XP <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='xp'"></div></th>
						<!-- Stats -->
						<th class="attributes text-center" ng-click="sortBy('stats.matchplayed')" ng-if="showStats" title="Matchs">Ma <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.matchplayed'"></div></th>
						<th class="attributes text-center" ng-click="sortBy('stats.mvp')" ng-if="showStats" title="Joueur du match">JDM <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.mvp'"></div></th>
						<th class="attributes text-center" ng-click="sortBy('stats.inflictedpasses')" ng-if="showStats" title="Passes">Pa <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedpasses'"></div></th>
						<th class="attributes text-center" ng-click="sortBy('stats.inflictedcatches')" ng-if="showStats" title="Réceptions">Réc <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedcatches'"></div></th>
						<th class="attributes text-center" ng-click="sortBy('stats.inflictedinterceptions')" ng-if="showStats" title="Interceptions">Int <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedinterceptions'"></div></th>
						<th class="attributes text-center" ng-click="sortBy('stats.inflictedtouchdowns')" ng-if="showStats" title="TouchDown">TD <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedtouchdowns'"></div></th>
						<th class="attributes text-center" ng-click="sortBy('stats.inflicteddead')" ng-if="showStats" title="Mort">Mort <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflicteddead'"></div></th>
						<th class="attributes text-center" ng-click="sortBy('stats.inflictedcasualties')" ng-if="showStats" title="Sorties">Sor <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedcasualties'"></div></th>
						<th class="attributes text-center" ng-click="sortBy('stats.inflictedko')" ng-if="showStats" title="KO">KO <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedko'"></div></th>
						<th class="attributes text-center" ng-click="sortBy('stats.inflictedtackles')" ng-if="showStats" title="Blocage">Bl <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedtackles'"></div></th>
						<th class="attributes text-center" ng-click="sortBy('stats.inflictedmeterspassing')" ng-if="showStats" title="Yards en passe">YP <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedmeterspassing'"></div></th>
						<th class="attributes text-center" ng-click="sortBy('stats.inflictedmetersrunning')" ng-if="showStats" title="Yards en course">YC <div class="triangle" ng-class="{down: reverse}" ng-if="orderFilter=='stats.inflictedmetersrunning'"></div></th>
					</tr>
				</thead>
				<tbody  class="table-hover" >
					<tr ng-repeat="player in team.players | orderBy:orderFilter:reverse" ng-hide="(player.dead+player.fired)>=1 && !showDead" ng-click="displayPlayer(player)" class="zelda" ng-style="colours[0].border" >
						<td class="text-left text-cutter" ng-class="{injured: player.casualties.length>2, dead: player.dead==1}">
							<span ng-if="player.casualties.length>2 && player.dead==0"><img src="resources/img/injured.png"> </span>
							<span ng-if="player.dead==1"><img src="resources/img/dead.png"> </span>
							{{player.name}}</td>
						<td class="text-left text-cutter hidden-sm-down" ng-if="!showStats">{{player.position | talkingToTheGods:parameters}}</td>
						<td class="text-center" ng-if="!showStats">{{player.attributes.ma}}{{player.attributes.mv}}</td>
						<td class="text-center" ng-if="!showStats">{{player.attributes.st}}</td>
						<td class="text-center" ng-if="!showStats">{{player.attributes.ag}}</td>
						<td class="text-center" ng-if="!showStats">{{player.attributes.av}}</td>
						<td class="text-center hidden-xs-down" ng-if="!showStats">{{player.level}}</td>
						<td class="text-center hidden-xs-down" ng-if="!showStats">{{numerize(player.xp)}}</td>
						<!-- Stats -->
						<td class="text-center" ng-if="showStats">{{player.stats.matchplayed}}</td>
						<td class="text-center" ng-if="showStats">{{player.stats.mvp}}</td>
						<td class="text-center" ng-if="showStats">{{player.stats.inflictedpasses}}</td>
						<td class="text-center" ng-if="showStats">{{player.stats.inflictedcatches}}</td>
						<td class="text-center" ng-if="showStats">{{player.stats.inflictedinterceptions}}</td>
						<td class="text-center" ng-if="showStats">{{player.stats.inflictedtouchdowns}}</td>
						<td class="text-center" ng-if="showStats">{{player.stats.inflicteddead}}</td>
						<td class="text-center" ng-if="showStats">{{player.stats.inflictedinjuries}}</td>
						<td class="text-center" ng-if="showStats">{{player.stats.inflictedko}}</td>
						<td class="text-center" ng-if="showStats">{{player.stats.inflictedtackles}}</td>
						<td class="text-center" ng-if="showStats">{{player.stats.inflictedmeterspassing}}</td>
						<td class="text-center" ng-if="showStats">{{player.stats.inflictedmetersrunning}}</td>
					</tr>
					<!--tr class="playerSkills">
						<td></td>
						<td  class="text-left text-cutter" colspan="7"><b>Compétences :</b> <span ng-repeat="skill in player.skills">{{skill}}<span ng-if="$index+1<player.skills.length">, </span></span> </td>
					</tr-->
				</tbody>
			</table>
			<div class="spacer"></div>
			<div class="button b2" ng-click="showDead = !showDead">
				<div ng-include="'resources/img/Button_0.svg'"></div>
				<div class="label" ng-if="!showDead">+ Anciens</div>
				<div class="label" ng-if="showDead">- Anciens</div>
			</div>
			<div class="button" ng-click="showStats = !showStats">
				<div ng-include="'resources/img/Button_0.svg'"></div>
				<div class="label" ng-if="!showStats">Statistiques</div>
				<div class="label" ng-if="showStats">Carac.</div>
			</div>
		</div>
		<div id="HelmetTeam" class="helmet1">
			<svg class="helmet_svg" viewBox="0 0 300 300" ng-include='helmet_svg'></svg>
				<div class="helmet_png helmet-{{team.param_id_race}}"></div>
				<div class="helmet-logo"></div>
		</div>
		<div id="Profile" class="plain seconde content noselect" ng-if="!activePlayer" ng-style="colours[1].border">
			<div id="fame"  class="teamBoard">
				<h4 ng-repeat="i in team.pop" class="star"  ng-style="colours[1].color">&#9733;</h4>
				<h4 class="noselect" ng-style="colours[1].color">TV {{team.value}}</h4>
				<h4 ng-style="colours[1].color">{{team.cash}} PO</h4>
			</div>
			<div class="teamBoard">
				<h4 ng-style="colours[1].color">{{team.roster}}</h4>
				<ul class="teamDetails list-unstyled">
					<li>coaché par <span class="" ng-style="colours[1].color"><b>{{team.coach}}</b></span></li>
					<li class="zelda" ng-click="goToPage('competition/'+team.competition.id)" ng-if="team.competition.id"><span ng-style="colours[1].color"><b>{{ranking+1}}<sup>e<span ng-if="ranking==0">r</span></sup></b></span>  {{team.competition.name}}</li>
				</ul><br />
				<ul class="teamDetails col2 list-unstyled">
					<li ng-if="team.rerolls>0">{{team.rerolls}} relance<span ng-if="team.rerolls>1">s</span></li>
					<li ng-if="team.apothecary>0">{{team.apothecary}} apothicaire</li>
					<li ng-if="team.cheerleaders>0">{{team.cheerleader}} pom-pom girl<span ng-if="team.cheerleaders>1">s</span></li>
					<li ng-if="team.assistantcoaches>0">{{team.assistantcoaches}} assistant<span ng-if="team.assistantcoaches>1">s</span></li>
				</ul><br/>
				<h6 class="text-right" ng-style="colours[1].color" ng-if="team.leitmotiv"> "{{team.leitmotiv}}"</h6>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div id="teamPhoto" class="plain" ng-style="colours[1].border" ng-if="teamID>268">
			<img class="cover" src="resources/img/Cover_Glass.png">
			<img src="resources/img/teams/photo{{teamID}}.jpg">
		</div>
		<div class="plain seconde" ng-style="colours[1].border" ng-if="teamID<269 || team.active==0 ">
			<p>Cette équipe n'est plus en activité dans la ligue.</p>
							<div class="spacer"></div>
							<div class="button" ng-click="goToPage('archives')">
								<div ng-include="'resources/img/Button_1.svg'"></div>
								<div class="label">Archives</div>
							</div>
		</div>
		<div class="plain prime" ng-repeat="article in team.articles | orderBy:'- publication'" id="chapter{{day.journee}}" ng-style="colours[0].border">
			<div ng-style="colours[0].color" class="articleDate">{{article.publication | date:'d MMM yyyy'}}</div>
			<h3 ng-style="colours[0].color" ng-bind-html="article.title"></h3>
			<p><span ng-bind-html="article.summary"></span> <a ng-style="colours[0].color" ng-click="displayReader(article)">En savoir plus</a></p>
		</div>
	</div>
</div>
