<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="de" xml:lang="de">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>phpBB3-Tablemaker</title>
<script type="text/javascript" src="tablemaker.js"></script>
<link href="tablemaker_subsilver2.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="inhalt">
  <div id="Layer1" style="position:absolute; width:500px; height:430px; z-index:1; left: 0px; top: 0px">
    <form id="form" style="display: inline;" action="#">
      <table class="maintable" width="500" border="1" cellpadding="5" cellspacing="0">
        <tr>
          <td colspan="2" align="center" class="oben"><span class="Stil10">{L_TABLEMAKER_TITLE}</span></td>
        </tr>
        <tr>
          <td valign="top" class="left">&nbsp;{L_TABLEMAKER_ROWS}
            <input name="reihen" type="text" class="eingabe" value="3" size="2"  />
            {L_TABLEMAKER_COLUMNS}
            <input name="spalten" type="text" class="eingabe" value="2" size="2" />
          </td>
          <td valign="top" class="left"><input style="display: none;" type="checkbox" name="zelleninhalt" checked="checked" />
            <input name="zellencontent" type="text" class="eingabe" value="{L_TABLEMAKER_PASTE_CONTENT}" size="18" />
            <span class="left">{L_TABLEMAKER_AND_NR}</span><br />
            <span class="Stil7">{L_TABLEMAKER_FIND_EASY}</span></td>
        </tr>
        <tr>
          <td valign="top" class="left"><input style="display: none;" type="checkbox" name="rahmen" checked="checked" />
            {L_TABLEMAKER_BORDER_WIDTH}
            <input type="text" class="eingabe" value="1" size="2" name="border_nr" />
          </td>
          <td valign="top" class="right">{L_TABLEMAKER_CELL_INFO}
            <input name="zellenanzeige" type="text" value="" size="3" readonly="readonly" id="zellenanzeige" />
          </td>
        </tr>
        <tr>
          <td valign="top" class="left"><input style="display: none;" type="checkbox" name="tabellenhoehe" checked="checked" id="tabellenhoehe" />
            {L_TABLEMAKER_TABLE_HEIGHT}
            <input name="hoehe" type="text" class="eingabe" value="50" size="4" id="hoehe" />
          </td>
          <td valign="top" class="right"><input style="display: none;" type="checkbox" name="tabellenbreite" checked="checked" />
            {L_TABLEMAKER_TABLE_WIDTH}
            <input name="breite" type="text" class="eingabe" value="100%" size="4" id="breite" />
          </td>
        </tr>
        <tr>
          <td class="left"><input style="display: none;" type="checkbox" name="zellen_hintergrundfarbe" checked="checked" />
            {L_TABLEMAKER_BG_COLOR}<br />
            <input type="text" class="eingabe" name="Farbe3" value="#CCCCCC" size="15" />
            <br />
            <span class="Stil7">{L_TABLEMAKER_EXAMPEL_BG_COLOR}</span> </td>
          <td class="right"><input style="display: none;" type="checkbox" name="zellen_rahmenfarbe" checked="checked" />
            {L_TABLEMAKER_BORDER_COLOR}<br />
            <input type="text" class="eingabe" name="Farbe4" value="#666666" size="15" />
            <br />
            <span class="Stil7">{L_TABLEMAKER_EXAMPEL_BORDER_COLOR}</span> </td>
        </tr>
        <tr>
          <td class="left">{L_TABLEMAKER_CELL_FILLING}
            <input name="padding_nr" type="text" class="eingabe" value="0" size="2" />
            <br />
          </td>
          <td class="right">{L_TABLEMAKER_CELL_ROOM}
            <input name="spacing_nr" type="text" class="eingabe" value="0" size="2" />
            <input style="display: none;" type="checkbox" name="zellen_nr" checked="checked"  />
          </td>
        </tr>
        <tr>
          <td class="left"><input style="display: none;" name="textausrichtung_horizontal" type="checkbox" checked="checked" />
           {L_TABLEMAKER_ALIGNMENT_HORIZ}<br />
            <input type="radio" name="l" />
            {L_TABLEMAKER_POSITION_LEFT}&nbsp;
            <input type="radio" name="l" checked="checked" />
            {L_TABLEMAKER_POSITION_CENTER}&nbsp;
            <input type="radio" name="l" />
            {L_TABLEMAKER_POSITION_RIGHT}</td>
          <td class="right"><input style="display: none;" type="checkbox" name="textausrichtung_vertikal" checked="checked" />
            {L_TABLEMAKER_ALIGNMENT_VERTI}<br />
            <input type="radio" name="m" />
            {L_TABLEMAKER_POSITION_TOP}&nbsp;
            <input type="radio" name="m" checked="checked" />
            {L_TABLEMAKER_POSITION_CENTER}&nbsp;
            <input type="radio" name="m" />
            {L_TABLEMAKER_POSITION_BOTTOM}</td>
        </tr>
        <tr>
          <td colspan="2" class="unten">
		    {L_TABLEMAKER_EXPL_CONFIG}<br />
            {L_TABLEMAKER_EXPL_GENERATE}<br />
            {L_TABLEMAKER_EXPL_PASTE}<br />
            {L_TABLEMAKER_EXPL_CLOSE_OR}<br />
			{L_TABLEMAKER_EXPL_NEW_TABLE}</td>
        </tr>
        <tr>
          <td align="center" colspan="2">
		    <input type="reset" class="butts" value="{L_TABLEMAKER_BUTTON_NEW}" name="reset" />
            <input type="button" class="butts" value="{L_TABLEMAKER_BUTTON_GENERATE}" onclick="phpbbtablemaker()" />
            <input type="button" class="butts" value="{L_TABLEMAKER_BUTTON_PASTE}" onclick="tablecopy()" />
            <input type="button" class="butts" value="{L_TABLEMAKER_BUTTON_CLOSE}" onclick="javascript:window.close();" />
            <textarea style="display: none;" rows="0" cols="0" name="ausgabe" class="textfeld"></textarea>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
</body>
</html>
