

<div id="MatchWeek" class="row">
  <div class="col-xs-12">
    <!-- Championship / Championnat -->
    <h3 class="affiche">{{title}}</h3>
    <h2  class="affiche" ng-style="colours[0].color">
      <span ng-if="competition.competition_mode=='Coupe'">{{finals[matchDay.round-1]}}</span>
      <span ng-if="competition.competition_mode!='Coupe'">Journée {{matchDay.round}}</span>
    </h2>
    <div class="col-xs-12 match"   ng-repeat="match in matchDay.matchs">
      <div class="teamName text-right"> {{match.name_1}}</div>
      <img class="teamLogo" src="../resources/logo/Logo_{{match.logo_1}}.png">
      <img class="versus" ng-if="!match.started" src="resources/img/vs.png">
      <span class="versus" ng-if="match.started.length>0" ng-style="colours[0].color"> {{match.score_1}} - {{match.score_2}} </span>
      <img class="teamLogo" src="../resources/logo/Logo_{{match.logo_2}}.png">
      <div class="teamName"> {{match.name_2}}</div>
      <hr ng-style="colours[0].border">
    </div>

    <div class="spacer"></div>
    <a class="button" href="../">
      <div ng-include="'resources/img/Button_0.svg'"></div>
      <div class="label">dans Tribunes</div>
    </a>
  </div>
</div>
