/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */
.p {
color: #646464;
}

p.author{
color: #646464;
}

a.mark {
	color: #FFFFFF;
}

.pagination a {
		color: #FFFFFF;
}

fieldset.display-options label {
    color: #FFFFFF;
}

a.arrow-left {
    color: #FFFFFF;
}
/* A editer */
#quickmod {
		background-color: transparent;
		padding-left: 20px;
}

#bottom {
	top:650px;
}

.panel .inner h3 {

}

.panel.bg2 {
	height: auto;
	margin-bottom: 5px;
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.9);
}

.panel.bg3 {
	height: auto;
	margin-bottom: 5px;

	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.9);
}

#options-panel {
	height:auto;

  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.9);
}

#attach-panel {
	height:auto;
}

#attach-panel p {
	color:#00558D;
}

#poll-panel {
	height:auto;
}

#poll-panel p {
	color:#00558D;
}

html, body {
	color: #ffffff;
	background-color: transparent;
}

h1 {
	color: #FFFFFF;
}

h2 {
	color: #28313F;
}

h3 {
	color: #FFFFFF;
}

hr {
	border: 0;
}

/* Search box
--------------------------------------------- */

.search-box .inputbox,
.search-box .inputbox:hover,
.search-box .inputbox:focus,
.search-box .button:hover {

}

.search-header {
	box-shadow: 0 0 10px #0075B0;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
#wrap {
}

.headerbar {
	color: #FFFFFF;
}

.navbar {
	background-color: transparent;
	color:#E6EAED;
}

.navbar a{
	color: #E6EAED;
}

.forabg {
	background-color: transparent;
	background-image: none;
}

.forabg .inner{
	background-color: transparent;
	background-image: url("./images/fond_black_transp.png");
}
.forumbg {
	background-color: transparent;
	background-image: url("./images/fond_black_transp.png");
	background-repeat: repeat;
	border-radius: 10px;
  padding: 0px 10px 10px 10px;
}

.panel {

}

.post:target .content {
	color: #FFFFFF;
}

.post:target h3 a {
	color: #000000;
}

.bg1 {
	margin-right: 10px;
}

table.zebra-list tr:nth-child(odd) td, ul.zebra-list li:nth-child(odd) {
	background-color: #E6EAED;
}

.bg2 {
	margin-right: 10px;
}


table.zebra-list tr:nth-child(even) td, ul.zebra-list li:nth-child(even) {
	background-color: #D1D6DA;
}

.bg3	{
	background-color: transparent;
}

.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #E7E8EA;
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border:0;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #FFFFFF;
}

table.table1 tbody tr {
	border-color: #BFC1CF;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #CFE1F6;
	color: #000;
}

table.table1 td {
	color: #FFFFFF;
}

table.table1 tbody td {
	border: 0;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #333333;
	background-color: #FFFFFF;
}

table.info tbody th {
	color: #FFFFFF;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #FFFFFF;
}

dl.details dd {
	color: #646464;
}

.sep {
	color: #1198D9;
}

/* Pagination
---------------------------------------- */

.pagination li a {
	background-color: #ECEDEE;
	border-color: #B4BAC0;
	color: #5C758C;
}

.pagination li.ellipsis span {
	background-color: transparent;
	color:	#000000;
}

.pagination li.active span {
	background-color: #4692BF;
	border-color: #4692BF;
	color: #FFFFFF;
}

.pagination li a:hover, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	background-color: #368AD2;
	border-color: #368AD2;
	color: #FFFFFF;
}

.pagination li.next a, .pagination li.previous a, .pagination li.page-jump a {
	background-image: url("./images/icons_pagination.png");
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	background-image: url("./images/icon_pages.gif");
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #FFFFFF;
	background: #000000;
}

.error {
	color: #BC2A4D;
}

.reported {
	background-color: #F7ECEF;
}

li.reported:hover {
	background-color: #ECD5D8 !important;
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #ECD5D8;
	color: #BC2A4D;
}

p.post-notice {
	background-color: #ECD5D8;
	background-image: none;
}

p.post-notice.deleted:before {
	background-image: url("./images/icon_topic_deleted.png");
}

p.post-notice.unapproved:before {
	background-image: url("./images/icon_topic_unapproved.gif");
}

p.post-notice.reported:before, p.post-notice.error:before {
	background-image: url("./images/icon_topic_reported.gif");
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a { color: #00558D; }
a:hover	{ color: #FB7728; }

/* Links on gradient backgrounds */
.forumbg .header a, .forabg .header a, th a {
	font-family: Akashi;
	font-size: 24px;
}
th a { font-size: 14px;}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #FB7728;
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: #FFFFFF;
}

/* Post body links */
.postlink {
	border-bottom-color: #368AD2;
	color: #368AD2;
}

.postlink:visited {
	border-bottom-color: #5D8FBD;
	color: #5D8FBD;
}

.postlink:hover {
	background-color: #D0E4F6;
	color: #0D4473;
}

.signature a, .signature a:hover {
	background-color: transparent;
}

/* Back to top of page */
a.top {
	background-image: url("./images/icon_back_top.gif");
}

a.top2 {
	background-image: url("./images/icon_back_top.gif");
}

/* Arrow links  */
a.arrow-up			{ background-image: url("./images/arrow_up.gif"); }
a.arrow-down		{ background-image: url("./images/arrow_down.gif"); }
a.arrow-left		{ background-image: url("./images/arrow_left.gif"); }
a.arrow-right		{ background-image: url("./images/arrow_right.gif"); }

a.arrow-up:hover {
	background-color: transparent;
}

a.arrow-left:hover {
	color: #368AD2;
}

a.arrow-right:hover {
	color: #368AD2;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: transparent;
}

ul.topiclist li {
	color: #FFFFFF;
}

ul.topiclist dd {
}

.rtl ul.topiclist dd {
	border-left-color: transparent;
}

ul.topiclist li.row dt a.subforum.read {
	background-image: url("./images/subforum_read.gif");
}

ul.topiclist li.row dt a.subforum.unread {
	background-image: url("./images/subforum_unread.gif");
}

li.row {
	border-top-color: #FFFFFF;
	border-bottom-color: transparent;
}

li.row strong {
	color: #000000;
}

li.row:hover {
		background-repeat:no-repeat;
}

li.row:hover dd {

}

.rtl li.row:hover dd {

	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #FFFFFF;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #333333;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #FFFFFF;
}

.content h2, .panel h2 {

}

dl.faq dt {
	color: #333333;
}

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border: 0;
}

/* Post noticies */
.notice {
	border:  0;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #BAB8B8;
	background-image: url("./images/quote.gif");
	border-color:#DBDBCE;
	border-radius: 5px;
	color:#000000;
}

.rtl blockquote {
	background-image: url("./images/quote_rtl.gif");
}

blockquote blockquote {
	/* Nested quotes */
	background-color:#938F8F;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #878787;
}

/* Code block */
.codebox {
	background-color: #FFFFFF;
	border-color: #C9D2D8;
}

.codebox p {
	border-bottom-color:  #CCCCCC;
}

.codebox code {
	color: #2E8B57;
}

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #FF8000; }
.syntaxdefault	{ color: #0000BB; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #FFFFFF;
	border-color:  #C9D2D8;
}

.pm-message .attachbox {
	background-color: #F2F3F3;
}

.attachbox dd {
	border: 0;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #666666;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #368AD2;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border: 0;
	color: #666666;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #FFFFFF;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #AA2346;
	border-bottom-color: #74162C;
	border-right-color: #74162C;
}

.rtl .pollbar1 {
	border-left-color: #74162C;
}

.pollbar2 {
	background-color: #BE1E4A;
	border-bottom-color: #8C1C38;
	border-right-color: #8C1C38;
}

.rtl .pollbar2 {
	border-left-color: #8C1C38;
}

.pollbar3 {
	background-color: #D11A4E;
	border-bottom-color: #AA2346;
	border-right-color: #AA2346;
}

.rtl .pollbar3 {
	border-left-color: #AA2346;
}

.pollbar4 {
	background-color: #E41653;
	border-bottom-color: #BE1E4A;
	border-right-color: #BE1E4A;
}

.rtl .pollbar4 {
	border-left-color: #BE1E4A;
}

.pollbar5 {
	background-color: #F81157;
	border-bottom-color: #D11A4E;
	border-right-color: #D11A4E;
}

.rtl .pollbar5 {
	border-left-color: #D11A4E;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #666666;
}

.pm .postprofile {
}

.postprofile strong {
	color: #000000;
}

.online {
	background-image: url("./en/icon_user_online.gif");
}

dd.profile-warnings {
	color: #BC2A4D;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.button {
	color: #FFFFFF;
	font-size: 16px !important;
}

.dropdown-select {
	color: #536482;
}

.button:hover, .dropdown-visible .dropdown-select, .nojs .dropdown-container:hover .dropdown-select {



}

.dropdown-select:after	{ border-color: #DADADA; }
.dropdown-select:hover	{ border-color: #C7C3BF; }

.dropdown-visible .dropdown-select, .dropdown-visible .dropdown-select:hover, .nojs .dropdown-container:hover .dropdown-select {
	border-color: #A6B2BA;
	color: #105289;
}

.contact-icons a		{ border-color: #DCDCDC; }
.contact-icons a:hover	{ background-color: #F2F6F9; }

/* Icon images
---------------------------------------- */
.icon-acp					{ background-image: url("./images/icon_acp.gif"); background: transparent; }
.icon-bookmark				{ background-image: url("./images/icon_bookmark.gif");  background: transparent;}
.icon-bump					{ background-image: url("./images/icon_bump.gif");  background: transparent;}
.icon-contact				{ background-image: url("./images/icon_pm.gif");  background: transparent;}
.icon-delete-cookies		{ background-image: url("./images/icon_delete_cookies.gif");  background: transparent;}
.icon-download				{ background-image: url("./images/icon_download.gif");  background: transparent;}
.icon-faq					{ background-image: url("./images/icon_faq.gif"); background: transparent; }
.icon-home					{ background-image: url("./images/icon_home.gif");  background: transparent;}
.icon-logout				{ background-image: url("./images/icon_logout.gif"); background: transparent;}
.icon-mark					{ background-image: url("./images/icon_mark.gif");  background: transparent;}
.icon-mcp					{ background-image: url("./images/icon_mcp.gif");  background: transparent;}
.icon-members				{ background-image: url("./images/icon_members.gif");  background: transparent;}
.icon-notification			{ background-image: url("./images/icon_notification.gif"); background: transparent;}
.icon-pages					{ background-image: url("./images/icon_pages.gif"); background: transparent; }
.icon-pm					{ background-image: url("./images/icon_pm.gif"); background: transparent;}
.icon-print					{ background-image: url("./images/icon_print.gif");  background: transparent;}
.icon-profile				{ background-image: url("./images/icon_profile.gif"); background: transparent;}
.icon-register				{ background-image: url("./images/icon_register.gif"); background: transparent; }
.icon-search, .responsive-search a	{ background-image: url("./images/icon_search.gif"); background: transparent; }
.icon-search-active			{ background-image: url("./images/subforum_read.gif");  background: transparent;}
.icon-search-new			{ background-image: url("./images/subforum_unread.gif"); background: transparent; }
.icon-search-self			{ background-image: url("./images/icon_topic_latest.gif"); background: transparent; }
.icon-search-unanswered		{ background-image: url("./images/icon_post_target.gif"); background: transparent; }
.icon-search-unread			{ background-image: url("./images/subforum_unread.gif");  background: transparent;}
.icon-sendemail				{ background-image: url("./images/icon_sendemail.gif");  background: transparent;}
.icon-subscribe				{ background-image: url("./images/icon_subscribe.gif"); background: transparent;}
.icon-team					{ background-image: url("./images/icon_team.gif"); background: transparent; }
.icon-ucp					{ background-image: url("./images/icon_ucp.gif"); background: transparent;}
.icon-unsubscribe			{ background-image: url("./images/icon_unsubscribe.gif"); background: transparent;}

/* Profile & navigation icons */
.contact-icon													{ background-image: url("./images/icons_contact.png"); }
.icon-button:before, .dropdown-select:after						{ }

/* Forum icons & Topic icons */
.global_read													{ background-image: url("./images/announce_read.gif"); }
.global_read_mine												{ background-image: url("./images/announce_read_mine.gif"); }
.global_read_locked												{ background-image: url("./images/announce_read_locked.gif"); }
.global_read_locked_mine										{ background-image: url("./images/announce_read_locked_mine.gif"); }
.global_unread													{ background-image: url("./images/announce_unread.gif"); }
.global_unread_mine												{ background-image: url("./images/announce_unread_mine.gif"); }
.global_unread_locked											{ background-image: url("./images/announce_unread_locked.gif"); }
.global_unread_locked_mine										{ background-image: url("./images/announce_unread_locked_mine.gif"); }

.announce_read													{ background-image: url("./images/announce_read.gif"); }
.announce_read_mine												{ background-image: url("./images/announce_read_mine.gif"); }
.announce_read_locked											{ background-image: url("./images/announce_read_locked.gif"); }
.announce_read_locked_mine										{ background-image: url("./images/announce_read_locked_mine.gif"); }
.announce_unread												{ background-image: url("./images/announce_unread.gif"); }
.announce_unread_mine											{ background-image: url("./images/announce_unread_mine.gif"); }
.announce_unread_locked											{ background-image: url("./images/announce_unread_locked.gif"); }
.announce_unread_locked_mine									{ background-image: url("./images/announce_unread_locked_mine.gif"); }

.forum_link														{ background-image: url("./images/forum_link.gif"); }
.forum_read														{ background-image: url("./images/forum_read.gif"); }
.forum_read_locked												{ background-image: url("./images/forum_read_locked.gif"); }
.forum_read_subforum											{ background-image: url("./images/forum_read_subforum.gif"); }
.forum_unread													{ background-image: url("./images/forum_unread.gif"); }
.forum_unread_locked											{ background-image: url("./images/forum_unread_locked.gif"); }
.forum_unread_subforum											{ background-image: url("./images/forum_unread_subforum.gif"); }

.sticky_read													{ background-image: url("./images/sticky_read.gif"); }
.sticky_read_mine												{ background-image: url("./images/sticky_read_mine.gif"); }
.sticky_read_locked												{ background-image: url("./images/sticky_read_locked.gif"); }
.sticky_read_locked_mine										{ background-image: url("./images/sticky_read_locked_mine.gif"); }
.sticky_unread													{ background-image: url("./images/sticky_unread.gif"); }
.sticky_unread_mine												{ background-image: url("./images/sticky_unread_mine.gif"); }
.sticky_unread_locked											{ background-image: url("./images/sticky_unread_locked.gif"); }
.sticky_unread_locked_mine										{ background-image: url("./images/sticky_unread_locked_mine.gif"); }

.topic_moved													{ background-image: url("./images/topic_moved.gif"); }
.topic_read														{ background-image: url("./images/topic_read.gif"); }
.topic_read_mine												{ background-image: url("./images/topic_read_mine.gif"); }
.topic_read_hot													{ background-image: url("./images/topic_read_hot.gif"); }
.topic_read_hot_mine											{ background-image: url("./images/topic_read_hot_mine.gif"); }
.topic_read_locked												{ background-image: url("./images/topic_read_locked.gif"); }
.topic_read_locked_mine											{ background-image: url("./images/topic_read_locked_mine.gif"); }
.topic_unread													{ background-image: url("./images/topic_unread.gif"); }
.topic_unread_mine												{ background-image: url("./images/topic_unread_mine.gif"); }
.topic_unread_hot												{ background-image: url("./images/topic_unread_hot.gif"); }
.topic_unread_hot_mine											{ background-image: url("./images/topic_unread_hot_mine.gif"); }
.topic_unread_locked											{ background-image: url("./images/topic_unread_locked.gif"); }
.topic_unread_locked_mine										{ background-image: url("./images/topic_unread_locked_mine.gif"); }

.pm_read														{ background-image: url("./images/topic_read.gif"); }
.pm_unread														{ background-image: url("./images/topic_unread.gif"); }

/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container h3, .panel-container hr, #cp-menu hr {
	border-color: #A4B3BF;
}

.panel-container .panel li.row {
	border-bottom-color: #B5C1CB;
	border: 0;
}

ul.cplist {
	border: 0;
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: #FFFFFF;
}

.panel-container table.table1 thead th {
	color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}

#cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/
#tabs .tab > a {
	font-family: "Akashi";
	background: transparent;
	color: #FFFFFF;
}

#tabs .tab > a:hover {
	color: #FB7728;
}

#tabs .activetab > a,
#tabs .activetab > a:hover {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2F2FF', endColorstr='#CADCEB', GradientType=0 );

color: #FFFFFF;
}

#tabs .activetab > a:hover {
color: #F68525;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs .tab > a {
	background-color: #E1EBF2;
}

#minitabs .activetab > a,
#minitabs .activetab > a:hover {
	background-color: #F9F9F9;
	color: #333333;
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: #FFFFFF;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: #F68525;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
#navigation a {
	color: #FFF;
	background: tranparent;
	border-bottom: solid 1px #646464;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B4C4D1', endColorstr='#CADCEB', GradientType=1 );
}

.rtl #navigation a {
	background: #B4C4D1;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CADCEB', endColorstr='#B4C4D1', GradientType=1 );
}

#navigation a:hover {
	background: transparent;
	color: #F68525;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#navigation #active-subsection a {
	background: transparent;
	color: #00558D;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#navigation #active-subsection a:hover {
	color: #F68525;
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	#navigation a, .rtl #navigation a {

	}
}

/* Preferences pane layout
----------------------------------------*/
.panel-container h2 {
	color: #333333;
}

.panel-container .panel {
}

#cp-main .pm {
	background-color: #FFFFFF;
}

/* Friends list */
.cp-mini {
	background-color: #eef5f9;
}

dl.mini dt {
	color: #425067;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #000000 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FF6600;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #A9B8C2;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #5D8FBD;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #000000;
}

/* Avatar gallery */
#gallery label {
	background: #FFFFFF;
	border-color: #CCC;
}

#gallery label:hover {
	background-color: #EEE;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #666666;
	background-color: #FAFAFA;
	color: #000;
}

label {

}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #FFFFFF;
}

fieldset.fields1 {
	background-color: transparent;
}

/* Hover effects */
fieldset dl:hover dt label {

}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #F2F3F3;
}

/* Posting page styles
----------------------------------------*/

#message-box textarea {
	color: #333333;
}

#message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

#message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(17, 163, 234, 0.5);
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #FFFFFF;
	color: #333333;
}

.inputbox:-moz-placeholder {
	color: #333333;
}

.inputbox::-webkit-input-placeholder {
	color: #333333;
}

.inputbox:hover {
	border-color: #11A3EA;
}

.inputbox:focus {
	border-color: #11A3EA;
	color: #0F4987;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}


/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #FFFFFF;
	background-color: transparent;
}

a.button1, input.button1 {

}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {

}

/* <a> button in the style of the form buttons */
a.button1, a.button2 {

}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {

}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {

}

input.search {
	background-image: url("./images/icon_textbox_search.gif");
}

input.disabled {
	color: #666666;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {

}
.phpbb_alert .alert_close {
	background-image: url("./images/alert_close.png");
}
#darken {
	background-color: #000000;
}

#loading_indicator {
	background-color: #000000;
	background-image: url("./images/loading.gif");
}

.dropdown-extended ul li {
	border: 0;
}

.dropdown-extended ul li:hover {
	background-color: #CFE1F6;
	color: #000000;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color: #B9B9B9;
	color: #000000;
}

.dropdown-extended .footer {
	border: 0;
}

.dropdown-extended .header {
	background: #F1F8FF;
	background: -moz-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1F8FF), color-stop(100%, #CADCEB));
	background: -webkit-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);
	background: -o-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);
	background: -ms-linear-gradient(top, #F1F8FF 0%, #CADCEB 100%);
	background: linear-gradient(to bottom, #F1F8FF 0%, #CADCEB 100%);
}

.dropdown .pointer {
	border-color: #B9B9B9 transparent;
}

.dropdown .pointer-inner {
	border-color: #FFF transparent;
}

.dropdown-extended .pointer-inner {
	border-color: #F1F8FF transparent;
}

ul.linklist li.responsive-menu a.responsive-menu-link:before {
	border-color: #FFFFFF
}

ul.linklist li.responsive-menu a.responsive-menu-link:hover:before, ul.linklist li.responsive-menu.visible a.responsive-menu-link:before {
	border-color: #F68525;
}

.dropdown .dropdown-contents {
	background: #fff;
	border-color: #b9b9b9;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown li, .dropdown li li {
	border-color: #DCDCDC;
}

.dropdown li.separator {
	border-color: #DCDCDC;
}

/* Notifications
---------------------------------------- */

.notification_list p.notification-time {
	color: #4C5D77;
}

li.notification-reported strong, li.notification-disapproved strong {
	color: #D31141;
}


/* HALLOWEEN */ /*
.haut_cat {
	background-image: url("./images/fond_cat-hallo.png");
}
.topic-title {
  background-image: url("./images/fond_topic-hallo.png");
}
.topic-title a {
	color:#FFFFFF;
}
.topic-title a:hover {
  color: #000;
}
.forum-title {
	background-image: url("./images/fond_cat-hallo.png");
}
.forum-title a {
    color: #FFFFFF;
}
.forum-title a:hover {
    color: #CF2020;;
}
ul.forums {
    background-color: #F9EEEE;
    background-image: url("./images/gradient-hallo.gif");
}
*/
/* NOEL */ /*
.haut_cat {
	background-image: url("./images/fond_cat-noel.png");
}
.topic-title {
	border:0;
  background-image: url("./images/fond_topic-noel.png");
}
.topic-title a {
	color:#FFFFFF;
}
.topic-title a:hover {
  color: #E71919;
}
.forum-title {
	background-image: url("./images/fond_cat-noel.png");
}
.forum-title a {
	padding-left:15px;
    color: #FFFFFF;
}
.forum-title a:hover {
    color: #E71919;
}
.forum-title .list-inner:hover {
	    color: #E71919;
}
.forumbg .header a:hover, .forabg .header a:hover {
	    color: #E71919;
}
a:hover {
    color: #E71919;
}
ul.forums {
    background-color: #EBF8F0;
    background-image: url("./images/gradient-noel.gif");
}
*/
