<Config.xml>
    <Options>
        <Language>french</Language>
        <SoundLanguage>French</SoundLanguage>
        <Video>
            <Resolution>(1920,1080)</Resolution>
            <Depth>32</Depth>
            <Frequency>75</Frequency>
            <Adapter>0</Adapter>
            <Fullscreen>0</Fullscreen>
            <Shaders>2</Shaders>
        </Video>
        <Renderer>
            <QualityLevel>4</QualityLevel>
            <MultiSampling>2</MultiSampling>
            <NbBackBuffers>1</NbBackBuffers>
            <Anisotropy>4</Anisotropy>
        </Renderer>
        <Gui>
            <IngameLogMinAlpha>0.0</IngameLogMinAlpha>
            <Background3D>0</Background3D>
        </Gui>
        <Sound>
            <Volumes>
                <Music>0.30000001192092896</Music>
                <Comments>0.64999997615814209</Comments>
                <FX>0.64999997615814209</FX>
            </Volumes>
            <Hardware>0</Hardware>
        </Sound>
        <Cinematics>
            <Mode>2</Mode>
            <Enable>0</Enable>
            <RealMode>2</RealMode>
            <DefaultCamera>CameraMatchCorner</DefaultCamera>
        </Cinematics>
        <InstantReplays>
            <Enable>1</Enable>
        </InstantReplays>
        <Shadows>
            <Quality>2</Quality>
        </Shadows>
        <Textures>
            <Quality>2</Quality>
        </Textures>
        <Fur>
            <Enable>1</Enable>
        </Fur>
        <PostProcess>
            <Glow>
                <Enable>1</Enable>
            </Glow>
            <Polish>
                <Enable>1</Enable>
            </Polish>
        </PostProcess>
        <Grass>
            <Enable>1</Enable>
        </Grass>
        <Portrait3D>
            <Enable>1</Enable>
        </Portrait3D>
        <Field>
            <Animated>1</Animated>
            <DetailsLevel>1</DetailsLevel>
        </Field>
        <Minimap>
            <Rotate>1</Rotate>
        </Minimap>
        <Spectator>
            <Enable>1</Enable>
        </Spectator>
        <Shapes>1</Shapes>
        <Controls>
            <Mode>0</Mode>
            <Gamepad>
                <JoystickSensitivity>0.7</JoystickSensitivity>
                <Vibrations>
                    <Enable>0</Enable>
                </Vibrations>
            </Gamepad>
            <MouseMode>1</MouseMode>
        </Controls>
        <GamepadCaption>
            <Enable>1</Enable>
        </GamepadCaption>
        <VoiceChat>
            <Enable>1</Enable>
            <Microphone>1</Microphone>
            <Opponent>1</Opponent>
        </VoiceChat>
        <FirstLaunch>0</FirstLaunch>
    </Options>
    <Supported>
        <Language>
            <Value>french</Value>
        </Language>
        <Video>
            <Resolution>
                <Value>(640,480)</Value>
                <Value>(720,480)</Value>
                <Value>(720,576)</Value>
                <Value>(800,600)</Value>
                <Value>(1024,768)</Value>
                <Value>(1152,864)</Value>
                <Value>(1280,720)</Value>
                <Value>(1280,768)</Value>
                <Value>(1280,800)</Value>
                <Value>(1280,960)</Value>
                <Value>(1280,1024)</Value>
                <Value>(1360,768)</Value>
                <Value>(1366,768)</Value>
                <Value>(1440,900)</Value>
                <Value>(1600,900)</Value>
                <Value>(1600,1024)</Value>
                <Value>(1600,1200)</Value>
                <Value>(1680,1050)</Value>
                <Value>(1920,1080)</Value>
            </Resolution>
            <Frequency>
                <Value>(60)</Value>
                <Value>(60)</Value>
                <Value>(60)</Value>
                <Value>(60)</Value>
                <Value>(60)</Value>
                <Value>(60)</Value>
                <Value>(60)</Value>
                <Value>(60)</Value>
                <Value>(60)</Value>
                <Value>(60)</Value>
                <Value>(60)</Value>
                <Value>(60)</Value>
                <Value>(60)</Value>
                <Value>(60)</Value>
                <Value>(59,60)</Value>
                <Value>(59,60)</Value>
                <Value>(60)</Value>
                <Value>(59,60)</Value>
                <Value>(60)</Value>
            </Frequency>
            <Adapter>
                <Value>0</Value>
            </Adapter>
            <Shaders>
                <Value>0</Value>
                <Value>1</Value>
                <Value>2</Value>
            </Shaders>
        </Video>
        <Renderer>
            <Multisampling>
                <Value>1</Value>
                <Value>2</Value>
                <Value>4</Value>
            </Multisampling>
            <Anisotropy>
                <Value>1</Value>
                <Value>2</Value>
                <Value>4</Value>
            </Anisotropy>
            <NbBackBuffers>
                <Value>1</Value>
                <Value>2</Value>
                <Value>3</Value>
            </NbBackBuffers>
        </Renderer>
        <Textures>
            <Quality>
                <Value>0</Value>
                <Value>1</Value>
                <Value>2</Value>
            </Quality>
        </Textures>
        <Shadows>
            <Quality>
                <Value>0</Value>
                <Value>1</Value>
                <Value>2</Value>
            </Quality>
        </Shadows>
        <Sound>
            <Volumes>
                <FX>
                    <Value>(0.,1.)</Value>
                </FX>
                <Music>
                    <Value>(0.,1.)</Value>
                </Music>
                <Comments>
                    <Value>(0.,1.)</Value>
                </Comments>
            </Volumes>
            <Hardware>
                <Value>1</Value>
                <Value>0</Value>
            </Hardware>
        </Sound>
        <PostProcess>
            <Glow>
                <Enable>
                    <Value>1</Value>
                    <Value>0</Value>
                </Enable>
            </Glow>
        </PostProcess>
        <Cinematics>
            <RealMode>
                <Value>0</Value>
                <Value>1</Value>
                <Value>2</Value>
                <Value>3</Value>
                <Value>4</Value>
            </RealMode>
            <Enable>
                <Value>1</Value>
                <Value>0</Value>
            </Enable>
        </Cinematics>
        <Field>
            <Animated>
                <Value>1</Value>
                <Value>0</Value>
            </Animated>
            <DetailsLevel>
                <Value>0</Value>
                <Value>1</Value>
            </DetailsLevel>
        </Field>
        <Fur>
            <Enable>
                <Value>1</Value>
                <Value>0</Value>
            </Enable>
        </Fur>
        <Grass>
            <Enable>
                <Value>1</Value>
                <Value>0</Value>
            </Enable>
        </Grass>
        <Portrait3D>
            <Enable>
                <Value>1</Value>
                <Value>0</Value>
            </Enable>
        </Portrait3D>
        <Spectator>
            <Enable>
                <Value>1</Value>
                <Value>0</Value>
            </Enable>
        </Spectator>
        <Controls>
            <Mode>
                <Value>0</Value>
                <Value>1</Value>
            </Mode>
            <Gamepad>
                <JoystickSensitivity>
                    <Value>(0.,1.)</Value>
                </JoystickSensitivity>
            </Gamepad>
        </Controls>
    </Supported>
</Config.xml>
